<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>smi.rendering.test.renderingtest.FeedbackTests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA97_Check_Feedback_Saved_to_DB</td>
<td>Full Regression Smoke Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA98_Verify_user_cannot_send_Feedback_without_add_text_to_the_textbox</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA131_Verify_user_gets_popup_when_sending_Feedback_with_text_less_than_10_characters</td>
<td>Full Regression Smoke Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA96_Verify_user_can_send_Feedback_successfully</td>
<td>Full regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA100_Verify_user_cannot_send_Feedback_with_invalid_Email_address</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA99_Verify_user_cannot_send_Feedback_without_Email_address</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA204_Verify_that_user_cant_send_blank_feedback</td>
<td>Full Regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Initialize</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getResult</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CloseBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td>smi.rendering.test.renderingtest.SignupTests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA7_Verify_user_can_sign_up_successfully_to_the_App</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA13_Verify_user_cant_sign_up_with_invalid_email</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA10_Verify_user_cant_sign_up_with_blank_last_name</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA15_Verify_user_cant_sign_up_with_too_short_password</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA126_Verify_user_cant_sign_up_with_invalid_blank_fields</td>
<td>Full Regression Smoke Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA14_Verify_user_cant_sign_up_with_blank_password</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA16_Verify_user_cant_sign_up_with_blank_conformation_password</td>
<td>Full Regression Smoke Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA8_Verify_user_can_login_after_signing_up_successfully</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA143_Check_message_when_reactivating_an_account</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA12_Verify_user_cant_sign_up_with_exist_email_in_SRA_system</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA17_Verify_user_cant_sign_up_with_invalid_conformation_password</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA11_Verify_user_cant_sign_up_with_blank_Email</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA9_Verify_user_cant_sign_up_with_blank_first_name</td>
<td>Full Regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Initialize</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getResult</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CloseBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td>smi.rendering.test.renderingtest.DomainTests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA157_Check_the_supported_Mood_style_Gestures_for_different_domains_Styles_Check_all_domains_Part_3</td>
<td>Full Refression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA157_Check_the_supported_Mood_style_Gestures_for_different_domains_Moods_Check_all_domains_Part_2</td>
<td>Full Refression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA123_Verify_the_system_does_not_returns_value_when_searching_with_invalid_keyword</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA132_Verify_user_can_search_domain_in_the_search_field</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA30_Check_the_domain_dropdown</td>
<td>Full Regression Smoke Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA157_Check_the_supported_Mood_style_Gestures_for_different_domains_Gestures_Check_all_domains_Part_1</td>
<td>Full Refression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA186_Verify_that_bars_values_still_appear_after_changing_the_domain_to_one_that_doesn_t_contain_bug658</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA51_Verify_the_domain_can_be_selected_before_selecting_a_voice</td>
<td>Full Regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Initialize</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getResult</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CloseBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td>smi.rendering.test.renderingtest.ShareTests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA109_Verify_user_can_share_his_own_files</td>
<td>Full Regression Smoke Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA112_Check_the_shared_notes_saved_in_the_DB</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA110_check_that_the_person_you_shared_with_him_gets_email_notification</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA114_Verify_user_cannot_share_with_blank_email_fields</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA147_Verify_user_can_share_Template_successfully</td>
<td>Full Regression Smoke Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA111_Verify_that_user_can_share_texts_with_more_than_one_person</td>
<td>Full Regression Smoke Test </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Initialize</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getResult</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CloseBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td>smi.rendering.test.renderingtest.ForgotPassword</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA21_Verify_user_can_login_successfully_after_changing_the_password_via_Forgot_password</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA23_Verify_the_user_cannot_set_a_new_password_in_the_UMS_server_with_invalid_pass</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA94_Verify_user_gets_error_message_when_submitting_invalid_email_for_forgot_password</td>
<td>Full Regression Smoke Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA22_Verify_the_user_cannot_set_a_new_password_in_the_UMS_server_with_empty_fields</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA19_Verify_user_can_Re_set_his_password_successfully_via_Forgot_password</td>
<td>Full Regression Smoke Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA20_Verify_the_user_can_set_a_new_password_in_the_UMS_server</td>
<td>Full Regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Initialize</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getResult</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CloseBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td>smi.rendering.test.renderingtest.LogoutTests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA18_User_can_logout_successfully</td>
<td>Full Regression Smoke Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA219_Verify_user_can_logout_from_project_domain_page_successfully</td>
<td>Full Regression Smoke Test </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Initialize</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getResult</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CloseBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td>smi.rendering.test.renderingtest.SaveTests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA138_Check_saving_a_text_that_includes_specific_symbols</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA198_Verify_a_Message_popup_appear_when_save_text_file_with_Orginal_Template_file_name_New_then_Overwrite_part_3</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA199_Verify_a_permission_popup_appear_when_save_text_file_with_existing_file_name_overwrite</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA198_Verify_a_overwrite_cancel_popup_appear_when_save_text_file_with_existing_file_name_overwrite_part_1</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA113_Verify_saving_blank_text_box_displays_popup</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA136_Check_saving_only_one_letter</td>
<td>Full Regression Smoke Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA107_Verify_user_can_save_imported_text</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA198_Verify_a_overwrite_cancel_popup_appear_when_save_text_file_with_existing_file_name_cancel_part_2</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA67_check_the_save_option</td>
<td>Full Regression Smoke Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA70_Check_the_SSML_tags_of_the_mood_in_DB</td>
<td>Full Regression Smoke Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA185_Verify_that_text_files_list_doesn_t_change_after_saving_files_not_stable_behavior_bug_709</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA171_Verify_a_proper_message_appear_when_save_template_with_the_same_name</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA71_Check_the_SSML_tags_of_the_Emphasis_in_DB</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA118_Check_the_save_button_activate_only_after_selecting_domain</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA242_Verify_that_the_Open_to_public_checkbox_is_working_successfully</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA68_Check_the_saved_text_stored_in_the_DB</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA34_check_the_cancel_option</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA69_Check_the_texts_saved_in_SSML_format_in_the_DB</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA244_Verify_that_user_cant_save_file_with_empty_file_name</td>
<td>Full Regression Smoke Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA176_Verify_a_proper_message_appear_when_save_text_file_with_the_same_name</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA72_Check_the_SSML_tags_of_the_Gesture_in_DB</td>
<td>Full Regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Initialize</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getResult</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CloseBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td>smi.rendering.test.renderingtest.OpenOptionsTests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA103_Verify_user_can_open_TXT_file_to_the_rendering_app_successfully</td>
<td>Full Regression Smoke Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA227_Verify_that_red_remove_icons_are_not_displayed_after_opening_file_part1_files</td>
<td>Full Regression Smoke Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA226_Verify_that_clear_text_button_doesnt_disappear_after_opening_file</td>
<td>Full Regression Smoke Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA235_Verify_User_cant_insert_gesture_to_editable_template_fields</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA108_Verify_user_can_open_text_with_numbers_and_symbols</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA144_Verify_user_can_open_Template_successfully</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA227_Verify_that_red_remove_icons_are_not_displayed_after_opening_file_part2_templates</td>
<td>Full Regression Smoke Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA146_Verify_user_cant_save_template_with_the_same_name</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA106_Verify_user_can_edit_opened_TXT</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA145_Verify_user_can_open_Template_and_edit_the_editable_words_and_save_successfully</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA104_Check_the_open_button_disabled_when_the_domain_is_not_selected</td>
<td>Full Regression Smoke Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA234_Verify_that_IPA_is_disabled_for_template_fields</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA237_Verify_that_user_cant_save_text_that_contains_only_gestures</td>
<td>Full Regression Smoke Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA182_domain_field_shouldn_t_be_editable_after_playing_text_bug_918</td>
<td>Full Regression Smoke Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA236_Check_that_user_cant_save_empty_text</td>
<td>Full Regression Smoke Test </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Initialize</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getResult</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CloseBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td>smi.rendering.test.renderingtest.GUI_Tests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA37_Check_Login_Page</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA90_Check_the_Main_Screen_labels</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA89_Check_the_Main_Screen</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA38_Check_signup_Page</td>
<td>Full Regression Smoke Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA218_Check_the_select_project_domain_page_components</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA39_Check_Forgot_Password_Page</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA95_Check_the_Feedback_popup</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA74_Check_the_save_share_popup</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA73_Check_the_save_popup</td>
<td>Full Regression Smoke Test </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Initialize</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getResult</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CloseBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td>smi.rendering.test.renderingtest.LoginTests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA4_Verify_user_cant_login_with_too_short_password</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA91_Verify_that_user_cant_login_with_blank_password</td>
<td>Full Regression Smoke Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA93_Verify_that_user_cant_login_with_invalid_inputs</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA127_Verify_that_user_cant_login_with_not_activated_email</td>
<td>Full Regression Smoke Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA2_Verify_that_user_cant_login_with_none_exist_email</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA90_Verify_that_user_cant_login_with_blank_Username</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA1_User_can_login_with_exist_account_successfully</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA3_Verify_user_cant_login_with_invalid_Email</td>
<td>Full Regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Initialize</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getResult</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CloseBrowser</td>
<td>&nbsp;</td></tr>
</table>
