<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite (2)</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a5c39e">  <td>20/03/12 15:41:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ForgotPassword.Initialize(boolean)[pri:0, instance:smi.rendering.test.renderingtest.ForgotPassword@490ab905]">&gt;&gt;Initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="a5c39e">  <td>20/03/12 15:41:59</td>   <td>5855</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ForgotPassword.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.ForgotPassword@490ab905]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="a5c39e">  <td>20/03/12 15:42:04</td>   <td>10358</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ForgotPassword.SRA19_Verify_user_can_Re_set_his_password_successfully_via_Forgot_password()[pri:0, instance:smi.rendering.test.renderingtest.ForgotPassword@490ab905]">SRA19_Verify_user_can_Re_set_his_password_successfully_via_Forgot_password</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="a5c39e">  <td>20/03/12 15:42:15</td>   <td>22225</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ForgotPassword.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.ForgotPassword@490ab905]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="a5c39e">  <td>20/03/12 15:42:15</td>   <td>22289</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ForgotPassword.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.ForgotPassword@490ab905]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="a5c39e">  <td>20/03/12 15:42:20</td>   <td>27030</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ForgotPassword.SRA20_Verify_the_user_can_set_a_new_password_in_the_UMS_server()[pri:0, instance:smi.rendering.test.renderingtest.ForgotPassword@490ab905]">SRA20_Verify_the_user_can_set_a_new_password_in_the_UMS_server</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="a5c39e">  <td>20/03/12 15:42:32</td>   <td>39052</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ForgotPassword.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.ForgotPassword@490ab905]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="a5c39e">  <td>20/03/12 15:42:32</td>   <td>39255</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ForgotPassword.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.ForgotPassword@490ab905]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="a5c39e">  <td>20/03/12 15:42:38</td>   <td>44311</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ForgotPassword.SRA21_Verify_user_can_login_successfully_after_changing_the_password_via_Forgot_password()[pri:0, instance:smi.rendering.test.renderingtest.ForgotPassword@490ab905]">SRA21_Verify_user_can_login_successfully_after_changing_the_password_via_Forgot_password</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="a5c39e">  <td>20/03/12 15:42:46</td>   <td>52938</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ForgotPassword.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.ForgotPassword@490ab905]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="a5c39e">  <td>20/03/12 15:42:46</td>   <td>53124</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ForgotPassword.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.ForgotPassword@490ab905]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="a5c39e">  <td>20/03/12 15:42:51</td>   <td>57721</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ForgotPassword.SRA21_Verify_user_can_login_successfully_after_changing_the_password_via_Forgot_password()[pri:0, instance:smi.rendering.test.renderingtest.ForgotPassword@490ab905]">SRA21_Verify_user_can_login_successfully_after_changing_the_password_via_Forgot_password</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="a5c39e">  <td>20/03/12 15:43:11</td>   <td>77570</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ForgotPassword.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.ForgotPassword@490ab905]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="a5c39e">  <td>20/03/12 15:43:11</td>   <td>77617</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ForgotPassword.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.ForgotPassword@490ab905]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="a5c39e">  <td>20/03/12 15:43:15</td>   <td>81984</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ForgotPassword.SRA22_Verify_the_user_cannot_set_a_new_password_in_the_UMS_server_with_empty_fields()[pri:0, instance:smi.rendering.test.renderingtest.ForgotPassword@490ab905]">SRA22_Verify_the_user_cannot_set_a_new_password_in_the_UMS_server_with_empty_fields</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="a5c39e">  <td>20/03/12 15:43:29</td>   <td>95807</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ForgotPassword.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.ForgotPassword@490ab905]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="a5c39e">  <td>20/03/12 15:43:29</td>   <td>96002</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ForgotPassword.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.ForgotPassword@490ab905]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="a5c39e">  <td>20/03/12 15:43:34</td>   <td>101031</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ForgotPassword.SRA23_Verify_the_user_cannot_set_a_new_password_in_the_UMS_server_with_invalid_pass()[pri:0, instance:smi.rendering.test.renderingtest.ForgotPassword@490ab905]">SRA23_Verify_the_user_cannot_set_a_new_password_in_the_UMS_server_with_invalid_pass</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="a5c39e">  <td>20/03/12 15:43:48</td>   <td>114493</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ForgotPassword.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.ForgotPassword@490ab905]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="a5c39e">  <td>20/03/12 15:43:48</td>   <td>114691</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ForgotPassword.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.ForgotPassword@490ab905]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="a5c39e">  <td>20/03/12 15:43:52</td>   <td>119281</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ForgotPassword.SRA94_Verify_user_gets_error_message_when_submitting_invalid_email_for_forgot_password()[pri:0, instance:smi.rendering.test.renderingtest.ForgotPassword@490ab905]">SRA94_Verify_user_gets_error_message_when_submitting_invalid_email_for_forgot_password</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="a5c39e">  <td>20/03/12 15:43:56</td>   <td>122399</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ForgotPassword.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.ForgotPassword@490ab905]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="a5c39e">  <td>20/03/12 15:43:56</td>   <td>122616</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ForgotPassword.CloseBrowser()[pri:0, instance:smi.rendering.test.renderingtest.ForgotPassword@490ab905]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
</table>
