<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>smi.rendering.test.renderingtest.FeedbackTests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA97_Check_Feedback_Saved_to_DB</td>
<td>Full Regression Smoke Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA98_Verify_user_cannot_send_Feedback_without_add_text_to_the_textbox</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA131_Verify_user_gets_popup_when_sending_Feedback_with_text_less_than_10_characters</td>
<td>Full Regression Smoke Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA96_Verify_user_can_send_Feedback_successfully</td>
<td>Full regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA100_Verify_user_cannot_send_Feedback_with_invalid_Email_address</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA99_Verify_user_cannot_send_Feedback_without_Email_address</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA204_Verify_that_user_cant_send_blank_feedback</td>
<td>Full Regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Initialize</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getResult</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CloseBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td>smi.rendering.test.renderingtest.DomainTests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA157_Check_the_supported_Mood_style_Gestures_for_different_domains_Styles_Check_all_domains_Part_3</td>
<td>Full Refression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA157_Check_the_supported_Mood_style_Gestures_for_different_domains_Moods_Check_all_domains_Part_2</td>
<td>Full Refression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA123_Verify_the_system_does_not_returns_value_when_searching_with_invalid_keyword</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA132_Verify_user_can_search_domain_in_the_search_field</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA30_Check_the_domain_dropdown</td>
<td>Full Regression Smoke Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA157_Check_the_supported_Mood_style_Gestures_for_different_domains_Gestures_Check_all_domains_Part_1</td>
<td>Full Refression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA186_Verify_that_bars_values_still_appear_after_changing_the_domain_to_one_that_doesn_t_contain_bug658</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA51_Verify_the_domain_can_be_selected_before_selecting_a_voice</td>
<td>Full Regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Initialize</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getResult</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CloseBrowser</td>
<td>&nbsp;</td></tr>
</table>
