<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Full Refression</td><td>DomainTests.SRA157_Check_the_supported_Mood_style_Gestures_for_different_domains_Gestures_Check_all_domains_Part_1()[pri:0, instance:smi.rendering.test.renderingtest.DomainTests@77cd7a0]<br/>DomainTests.SRA157_Check_the_supported_Mood_style_Gestures_for_different_domains_Styles_Check_all_domains_Part_3()[pri:0, instance:smi.rendering.test.renderingtest.DomainTests@77cd7a0]<br/>DomainTests.SRA157_Check_the_supported_Mood_style_Gestures_for_different_domains_Moods_Check_all_domains_Part_2()[pri:0, instance:smi.rendering.test.renderingtest.DomainTests@77cd7a0]<br/></td></tr>
<tr><td>Full Regression</td><td>DomainTests.SRA30_Check_the_domain_dropdown()[pri:0, instance:smi.rendering.test.renderingtest.DomainTests@77cd7a0]<br/>DomainTests.SRA123_Verify_the_system_does_not_returns_value_when_searching_with_invalid_keyword()[pri:0, instance:smi.rendering.test.renderingtest.DomainTests@77cd7a0]<br/>DomainTests.SRA132_Verify_user_can_search_domain_in_the_search_field()[pri:0, instance:smi.rendering.test.renderingtest.DomainTests@77cd7a0]<br/>DomainTests.SRA51_Verify_the_domain_can_be_selected_before_selecting_a_voice()[pri:0, instance:smi.rendering.test.renderingtest.DomainTests@77cd7a0]<br/>DomainTests.SRA186_Verify_that_bars_values_still_appear_after_changing_the_domain_to_one_that_doesn_t_contain_bug658()[pri:0, instance:smi.rendering.test.renderingtest.DomainTests@77cd7a0]<br/></td></tr>
<tr><td>Smoke Test</td><td>DomainTests.SRA30_Check_the_domain_dropdown()[pri:0, instance:smi.rendering.test.renderingtest.DomainTests@77cd7a0]<br/></td></tr>
</table>
