<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite (0)</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="82f6ef">  <td>20/03/12 15:40:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DomainTests.CloseBrowser()[pri:0, instance:smi.rendering.test.renderingtest.DomainTests@77cd7a0]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>20/03/12 15:34:18</td>   <td>-380358</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DomainTests.Initialize(boolean)[pri:0, instance:smi.rendering.test.renderingtest.DomainTests@77cd7a0]">&gt;&gt;Initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>20/03/12 15:36:00</td>   <td>-277642</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DomainTests.SRA123_Verify_the_system_does_not_returns_value_when_searching_with_invalid_keyword()[pri:0, instance:smi.rendering.test.renderingtest.DomainTests@77cd7a0]">SRA123_Verify_the_system_does_not_returns_value_when_searching_with_invalid_keyword</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>20/03/12 15:36:54</td>   <td>-223965</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DomainTests.SRA132_Verify_user_can_search_domain_in_the_search_field()[pri:0, instance:smi.rendering.test.renderingtest.DomainTests@77cd7a0]">SRA132_Verify_user_can_search_domain_in_the_search_field</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>20/03/12 15:38:02</td>   <td>-156346</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DomainTests.SRA157_Check_the_supported_Mood_style_Gestures_for_different_domains_Gestures_Check_all_domains_Part_1()[pri:0, instance:smi.rendering.test.renderingtest.DomainTests@77cd7a0]">SRA157_Check_the_supported_Mood_style_Gestures_for_different_domains_Gestures_Check_all_domains_Part_1</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>20/03/12 15:39:03</td>   <td>-94975</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DomainTests.SRA157_Check_the_supported_Mood_style_Gestures_for_different_domains_Moods_Check_all_domains_Part_2()[pri:0, instance:smi.rendering.test.renderingtest.DomainTests@77cd7a0]">SRA157_Check_the_supported_Mood_style_Gestures_for_different_domains_Moods_Check_all_domains_Part_2</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>20/03/12 15:39:52</td>   <td>-46130</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DomainTests.SRA157_Check_the_supported_Mood_style_Gestures_for_different_domains_Styles_Check_all_domains_Part_3()[pri:0, instance:smi.rendering.test.renderingtest.DomainTests@77cd7a0]">SRA157_Check_the_supported_Mood_style_Gestures_for_different_domains_Styles_Check_all_domains_Part_3</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>20/03/12 15:35:14</td>   <td>-323753</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DomainTests.SRA186_Verify_that_bars_values_still_appear_after_changing_the_domain_to_one_that_doesn_t_contain_bug658()[pri:0, instance:smi.rendering.test.renderingtest.DomainTests@77cd7a0]">SRA186_Verify_that_bars_values_still_appear_after_changing_the_domain_to_one_that_doesn_t_contain_bug658</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>20/03/12 15:40:30</td>   <td>-8461</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DomainTests.SRA30_Check_the_domain_dropdown()[pri:0, instance:smi.rendering.test.renderingtest.DomainTests@77cd7a0]">SRA30_Check_the_domain_dropdown</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>20/03/12 15:37:32</td>   <td>-185995</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DomainTests.SRA51_Verify_the_domain_can_be_selected_before_selecting_a_voice()[pri:0, instance:smi.rendering.test.renderingtest.DomainTests@77cd7a0]">SRA51_Verify_the_domain_can_be_selected_before_selecting_a_voice</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>20/03/12 15:35:08</td>   <td>-330451</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DomainTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.DomainTests@77cd7a0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>20/03/12 15:35:55</td>   <td>-283437</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DomainTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.DomainTests@77cd7a0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>20/03/12 15:36:48</td>   <td>-229866</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DomainTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.DomainTests@77cd7a0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>20/03/12 15:37:26</td>   <td>-191570</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DomainTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.DomainTests@77cd7a0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>20/03/12 15:37:56</td>   <td>-162103</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DomainTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.DomainTests@77cd7a0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>20/03/12 15:38:58</td>   <td>-99667</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DomainTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.DomainTests@77cd7a0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>20/03/12 15:39:47</td>   <td>-50918</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DomainTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.DomainTests@77cd7a0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>20/03/12 15:40:25</td>   <td>-12807</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DomainTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.DomainTests@77cd7a0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>20/03/12 15:35:54</td>   <td>-284454</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DomainTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.DomainTests@77cd7a0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>20/03/12 15:36:48</td>   <td>-230194</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DomainTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.DomainTests@77cd7a0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>20/03/12 15:37:26</td>   <td>-191885</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DomainTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.DomainTests@77cd7a0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>20/03/12 15:37:56</td>   <td>-162367</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DomainTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.DomainTests@77cd7a0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>20/03/12 15:38:58</td>   <td>-99917</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DomainTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.DomainTests@77cd7a0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>20/03/12 15:39:47</td>   <td>-51200</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DomainTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.DomainTests@77cd7a0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>20/03/12 15:40:25</td>   <td>-13065</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DomainTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.DomainTests@77cd7a0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>20/03/12 15:40:38</td>   <td>-270</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DomainTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.DomainTests@77cd7a0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
</table>
