<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Full Regression</td><td>LogoutTests.SRA219_Verify_user_can_logout_from_project_domain_page_successfully()[pri:0, instance:smi.rendering.test.renderingtest.LogoutTests@20322d26]<br/>LogoutTests.SRA18_User_can_logout_successfully()[pri:0, instance:smi.rendering.test.renderingtest.LogoutTests@20322d26]<br/></td></tr>
<tr><td>Smoke Test</td><td>LogoutTests.SRA219_Verify_user_can_logout_from_project_domain_page_successfully()[pri:0, instance:smi.rendering.test.renderingtest.LogoutTests@20322d26]<br/>LogoutTests.SRA18_User_can_logout_successfully()[pri:0, instance:smi.rendering.test.renderingtest.LogoutTests@20322d26]<br/></td></tr>
</table>
