<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite (5)</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="85a98f">  <td>20/03/12 15:48:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LogoutTests.CloseBrowser()[pri:0, instance:smi.rendering.test.renderingtest.LogoutTests@20322d26]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="85a98f">  <td>20/03/12 15:48:04</td>   <td>-18997</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LogoutTests.Initialize(boolean)[pri:0, instance:smi.rendering.test.renderingtest.LogoutTests@20322d26]">&gt;&gt;Initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="85a98f">  <td>20/03/12 15:48:10</td>   <td>-13677</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LogoutTests.SRA18_User_can_logout_successfully()[pri:0, instance:smi.rendering.test.renderingtest.LogoutTests@20322d26]">SRA18_User_can_logout_successfully</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="85a98f">  <td>20/03/12 15:48:17</td>   <td>-6044</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LogoutTests.SRA219_Verify_user_can_logout_from_project_domain_page_successfully()[pri:0, instance:smi.rendering.test.renderingtest.LogoutTests@20322d26]">SRA219_Verify_user_can_logout_from_project_domain_page_successfully</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="85a98f">  <td>20/03/12 15:48:10</td>   <td>-13677</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LogoutTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.LogoutTests@20322d26]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="85a98f">  <td>20/03/12 15:48:17</td>   <td>-6044</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LogoutTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.LogoutTests@20322d26]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="85a98f">  <td>20/03/12 15:48:17</td>   <td>-6193</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LogoutTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.LogoutTests@20322d26]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="85a98f">  <td>20/03/12 15:48:23</td>   <td>-162</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LogoutTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.LogoutTests@20322d26]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
</table>
