<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite (9)</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7bafac">  <td>20/03/12 16:08:56</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SignupTests.Initialize(boolean)[pri:0, instance:smi.rendering.test.renderingtest.SignupTests@13a5fe33]">&gt;&gt;Initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>20/03/12 16:09:07</td>   <td>10795</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SignupTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SignupTests@13a5fe33]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>20/03/12 16:09:07</td>   <td>10851</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignupTests.SRA12_Verify_user_cant_sign_up_with_exist_email_in_SRA_system()[pri:0, instance:smi.rendering.test.renderingtest.SignupTests@13a5fe33]">SRA12_Verify_user_cant_sign_up_with_exist_email_in_SRA_system</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>20/03/12 16:09:10</td>   <td>13442</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SignupTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SignupTests@13a5fe33]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>20/03/12 16:09:10</td>   <td>13617</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SignupTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SignupTests@13a5fe33]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>20/03/12 16:09:10</td>   <td>13659</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignupTests.SRA7_Verify_user_can_sign_up_successfully_to_the_App()[pri:0, instance:smi.rendering.test.renderingtest.SignupTests@13a5fe33]">SRA7_Verify_user_can_sign_up_successfully_to_the_App</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>20/03/12 16:09:32</td>   <td>35510</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SignupTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SignupTests@13a5fe33]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>20/03/12 16:09:32</td>   <td>35690</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SignupTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SignupTests@13a5fe33]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>20/03/12 16:09:32</td>   <td>35790</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignupTests.SRA7_Verify_user_can_sign_up_successfully_to_the_App()[pri:0, instance:smi.rendering.test.renderingtest.SignupTests@13a5fe33]">SRA7_Verify_user_can_sign_up_successfully_to_the_App</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>20/03/12 16:09:40</td>   <td>44013</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SignupTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SignupTests@13a5fe33]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>20/03/12 16:09:41</td>   <td>44437</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SignupTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SignupTests@13a5fe33]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>20/03/12 16:09:41</td>   <td>44710</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignupTests.SRA10_Verify_user_cant_sign_up_with_blank_last_name()[pri:0, instance:smi.rendering.test.renderingtest.SignupTests@13a5fe33]">SRA10_Verify_user_cant_sign_up_with_blank_last_name</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>20/03/12 16:09:44</td>   <td>47473</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SignupTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SignupTests@13a5fe33]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>20/03/12 16:09:44</td>   <td>47669</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SignupTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SignupTests@13a5fe33]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>20/03/12 16:09:44</td>   <td>47755</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignupTests.SRA11_Verify_user_cant_sign_up_with_blank_Email()[pri:0, instance:smi.rendering.test.renderingtest.SignupTests@13a5fe33]">SRA11_Verify_user_cant_sign_up_with_blank_Email</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>20/03/12 16:09:46</td>   <td>50187</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SignupTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SignupTests@13a5fe33]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>20/03/12 16:09:47</td>   <td>50449</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SignupTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SignupTests@13a5fe33]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>20/03/12 16:09:47</td>   <td>50508</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignupTests.SRA126_Verify_user_cant_sign_up_with_invalid_blank_fields()[pri:0, instance:smi.rendering.test.renderingtest.SignupTests@13a5fe33]">SRA126_Verify_user_cant_sign_up_with_invalid_blank_fields</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>20/03/12 16:09:50</td>   <td>53375</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SignupTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SignupTests@13a5fe33]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>20/03/12 16:09:50</td>   <td>53542</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SignupTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SignupTests@13a5fe33]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>20/03/12 16:09:50</td>   <td>53639</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignupTests.SRA13_Verify_user_cant_sign_up_with_invalid_email()[pri:0, instance:smi.rendering.test.renderingtest.SignupTests@13a5fe33]">SRA13_Verify_user_cant_sign_up_with_invalid_email</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>20/03/12 16:09:52</td>   <td>55956</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SignupTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SignupTests@13a5fe33]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>20/03/12 16:09:52</td>   <td>56143</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SignupTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SignupTests@13a5fe33]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>20/03/12 16:09:52</td>   <td>56183</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignupTests.SRA14_Verify_user_cant_sign_up_with_blank_password()[pri:0, instance:smi.rendering.test.renderingtest.SignupTests@13a5fe33]">SRA14_Verify_user_cant_sign_up_with_blank_password</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>20/03/12 16:09:55</td>   <td>58483</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SignupTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SignupTests@13a5fe33]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>20/03/12 16:09:55</td>   <td>58638</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SignupTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SignupTests@13a5fe33]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>20/03/12 16:09:55</td>   <td>58708</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignupTests.SRA15_Verify_user_cant_sign_up_with_too_short_password()[pri:0, instance:smi.rendering.test.renderingtest.SignupTests@13a5fe33]">SRA15_Verify_user_cant_sign_up_with_too_short_password</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>20/03/12 16:09:57</td>   <td>60978</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SignupTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SignupTests@13a5fe33]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>20/03/12 16:09:57</td>   <td>61124</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SignupTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SignupTests@13a5fe33]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>20/03/12 16:09:57</td>   <td>61195</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignupTests.SRA16_Verify_user_cant_sign_up_with_blank_conformation_password()[pri:0, instance:smi.rendering.test.renderingtest.SignupTests@13a5fe33]">SRA16_Verify_user_cant_sign_up_with_blank_conformation_password</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>20/03/12 16:10:00</td>   <td>63454</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SignupTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SignupTests@13a5fe33]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>20/03/12 16:10:00</td>   <td>63604</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SignupTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SignupTests@13a5fe33]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>20/03/12 16:10:00</td>   <td>63661</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignupTests.SRA17_Verify_user_cant_sign_up_with_invalid_conformation_password()[pri:0, instance:smi.rendering.test.renderingtest.SignupTests@13a5fe33]">SRA17_Verify_user_cant_sign_up_with_invalid_conformation_password</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>20/03/12 16:10:02</td>   <td>65905</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SignupTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SignupTests@13a5fe33]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>20/03/12 16:10:02</td>   <td>66054</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SignupTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SignupTests@13a5fe33]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>20/03/12 16:10:02</td>   <td>66100</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignupTests.SRA9_Verify_user_cant_sign_up_with_blank_first_name()[pri:0, instance:smi.rendering.test.renderingtest.SignupTests@13a5fe33]">SRA9_Verify_user_cant_sign_up_with_blank_first_name</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>20/03/12 16:10:05</td>   <td>68406</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SignupTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SignupTests@13a5fe33]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>20/03/12 16:10:05</td>   <td>68452</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SignupTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SignupTests@13a5fe33]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>20/03/12 16:10:05</td>   <td>68611</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignupTests.SRA8_Verify_user_can_login_after_signing_up_successfully()[pri:0, instance:smi.rendering.test.renderingtest.SignupTests@13a5fe33]">SRA8_Verify_user_can_login_after_signing_up_successfully</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>20/03/12 16:10:33</td>   <td>96509</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SignupTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SignupTests@13a5fe33]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>20/03/12 16:10:33</td>   <td>96708</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SignupTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SignupTests@13a5fe33]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>20/03/12 16:10:33</td>   <td>96755</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignupTests.SRA143_Check_message_when_reactivating_an_account()[pri:0, instance:smi.rendering.test.renderingtest.SignupTests@13a5fe33]">SRA143_Check_message_when_reactivating_an_account</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>20/03/12 16:10:58</td>   <td>121512</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SignupTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SignupTests@13a5fe33]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>20/03/12 16:10:58</td>   <td>121563</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SignupTests.CloseBrowser()[pri:0, instance:smi.rendering.test.renderingtest.SignupTests@13a5fe33]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
</table>
