<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>smi.rendering.test.renderingtest.LoginTests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA4_Verify_user_cant_login_with_too_short_password</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA91_Verify_that_user_cant_login_with_blank_password</td>
<td>Full Regression Smoke Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA93_Verify_that_user_cant_login_with_invalid_inputs</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA127_Verify_that_user_cant_login_with_not_activated_email</td>
<td>Full Regression Smoke Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA2_Verify_that_user_cant_login_with_none_exist_email</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA1_User_can_login_with_exist_account_successfully</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA90_Verify_that_user_cant_login_with_blank_Username</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA3_Verify_user_cant_login_with_invalid_Email</td>
<td>Full Regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Initialize</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getResult</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CloseBrowser</td>
<td>&nbsp;</td></tr>
</table>
