<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a6e1f4">  <td>20/03/24 21:31:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTests.CloseBrowser()[pri:0, instance:smi.rendering.test.renderingtest.LoginTests@6f7fd0e6]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1926764753</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>20/03/24 21:31:32</td>   <td>-53</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.SRA127_Verify_that_user_cant_login_with_not_activated_email()[pri:0, instance:smi.rendering.test.renderingtest.LoginTests@6f7fd0e6]">SRA127_Verify_that_user_cant_login_with_not_activated_email</td> 
  <td>main@1926764753</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>20/03/24 21:31:32</td>   <td>-40</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.SRA1_User_can_login_with_exist_account_successfully()[pri:0, instance:smi.rendering.test.renderingtest.LoginTests@6f7fd0e6]">SRA1_User_can_login_with_exist_account_successfully</td> 
  <td>main@1926764753</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>20/03/24 21:31:32</td>   <td>-34</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.SRA2_Verify_that_user_cant_login_with_none_exist_email()[pri:0, instance:smi.rendering.test.renderingtest.LoginTests@6f7fd0e6]">SRA2_Verify_that_user_cant_login_with_none_exist_email</td> 
  <td>main@1926764753</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>20/03/24 21:31:32</td>   <td>-27</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.SRA3_Verify_user_cant_login_with_invalid_Email()[pri:0, instance:smi.rendering.test.renderingtest.LoginTests@6f7fd0e6]">SRA3_Verify_user_cant_login_with_invalid_Email</td> 
  <td>main@1926764753</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>20/03/24 21:31:32</td>   <td>-22</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.SRA4_Verify_user_cant_login_with_too_short_password()[pri:0, instance:smi.rendering.test.renderingtest.LoginTests@6f7fd0e6]">SRA4_Verify_user_cant_login_with_too_short_password</td> 
  <td>main@1926764753</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>20/03/24 21:31:32</td>   <td>-12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.SRA90_Verify_that_user_cant_login_with_blank_Username()[pri:0, instance:smi.rendering.test.renderingtest.LoginTests@6f7fd0e6]">SRA90_Verify_that_user_cant_login_with_blank_Username</td> 
  <td>main@1926764753</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>20/03/24 21:31:32</td>   <td>-7</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.SRA91_Verify_that_user_cant_login_with_blank_password()[pri:0, instance:smi.rendering.test.renderingtest.LoginTests@6f7fd0e6]">SRA91_Verify_that_user_cant_login_with_blank_password</td> 
  <td>main@1926764753</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>20/03/24 21:31:32</td>   <td>-2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.SRA93_Verify_that_user_cant_login_with_invalid_inputs()[pri:0, instance:smi.rendering.test.renderingtest.LoginTests@6f7fd0e6]">SRA93_Verify_that_user_cant_login_with_invalid_inputs</td> 
  <td>main@1926764753</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>20/03/24 21:31:32</td>   <td>-60</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.LoginTests@6f7fd0e6]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1926764753</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>20/03/24 21:31:32</td>   <td>-42</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.LoginTests@6f7fd0e6]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1926764753</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>20/03/24 21:31:32</td>   <td>-35</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.LoginTests@6f7fd0e6]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1926764753</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>20/03/24 21:31:32</td>   <td>-30</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.LoginTests@6f7fd0e6]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1926764753</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>20/03/24 21:31:32</td>   <td>-23</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.LoginTests@6f7fd0e6]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1926764753</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>20/03/24 21:31:32</td>   <td>-14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.LoginTests@6f7fd0e6]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1926764753</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>20/03/24 21:31:32</td>   <td>-8</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.LoginTests@6f7fd0e6]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1926764753</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>20/03/24 21:31:32</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.LoginTests@6f7fd0e6]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1926764753</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>20/03/24 21:31:32</td>   <td>-48</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.LoginTests@6f7fd0e6]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1926764753</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>20/03/24 21:31:32</td>   <td>-37</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.LoginTests@6f7fd0e6]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1926764753</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>20/03/24 21:31:32</td>   <td>-32</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.LoginTests@6f7fd0e6]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1926764753</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>20/03/24 21:31:32</td>   <td>-25</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.LoginTests@6f7fd0e6]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1926764753</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>20/03/24 21:31:32</td>   <td>-20</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.LoginTests@6f7fd0e6]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1926764753</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>20/03/24 21:31:32</td>   <td>-10</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.LoginTests@6f7fd0e6]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1926764753</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>20/03/24 21:31:32</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.LoginTests@6f7fd0e6]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1926764753</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>20/03/24 21:31:32</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.LoginTests@6f7fd0e6]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1926764753</td>   <td></td> </tr>
</table>
