<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Full Regression</td><td>FeedbackTests.SRA131_Verify_user_gets_popup_when_sending_Feedback_with_text_less_than_10_characters()[pri:0, instance:smi.rendering.test.renderingtest.FeedbackTests@7085bdee]<br/>FeedbackTests.SRA99_Verify_user_cannot_send_Feedback_without_Email_address()[pri:0, instance:smi.rendering.test.renderingtest.FeedbackTests@7085bdee]<br/>FeedbackTests.SRA100_Verify_user_cannot_send_Feedback_with_invalid_Email_address()[pri:0, instance:smi.rendering.test.renderingtest.FeedbackTests@7085bdee]<br/>FeedbackTests.SRA204_Verify_that_user_cant_send_blank_feedback()[pri:0, instance:smi.rendering.test.renderingtest.FeedbackTests@7085bdee]<br/>FeedbackTests.SRA97_Check_Feedback_Saved_to_DB()[pri:0, instance:smi.rendering.test.renderingtest.FeedbackTests@7085bdee]<br/>FeedbackTests.SRA98_Verify_user_cannot_send_Feedback_without_add_text_to_the_textbox()[pri:0, instance:smi.rendering.test.renderingtest.FeedbackTests@7085bdee]<br/></td></tr>
<tr><td>Full regression</td><td>FeedbackTests.SRA96_Verify_user_can_send_Feedback_successfully()[pri:0, instance:smi.rendering.test.renderingtest.FeedbackTests@7085bdee]<br/></td></tr>
<tr><td>Smoke Test</td><td>FeedbackTests.SRA131_Verify_user_gets_popup_when_sending_Feedback_with_text_less_than_10_characters()[pri:0, instance:smi.rendering.test.renderingtest.FeedbackTests@7085bdee]<br/>FeedbackTests.SRA97_Check_Feedback_Saved_to_DB()[pri:0, instance:smi.rendering.test.renderingtest.FeedbackTests@7085bdee]<br/></td></tr>
</table>
