<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite (1)</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ee9989">  <td>20/03/12 15:40:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FeedbackTests.Initialize(boolean)[pri:0, instance:smi.rendering.test.renderingtest.FeedbackTests@7085bdee]">&gt;&gt;Initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ee9989">  <td>20/03/12 15:41:21</td>   <td>42476</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FeedbackTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.FeedbackTests@7085bdee]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ee9989">  <td>20/03/12 15:41:23</td>   <td>44357</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FeedbackTests.SRA98_Verify_user_cannot_send_Feedback_without_add_text_to_the_textbox()[pri:0, instance:smi.rendering.test.renderingtest.FeedbackTests@7085bdee]">SRA98_Verify_user_cannot_send_Feedback_without_add_text_to_the_textbox</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ee9989">  <td>20/03/12 15:41:24</td>   <td>44799</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FeedbackTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.FeedbackTests@7085bdee]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ee9989">  <td>20/03/12 15:41:24</td>   <td>45150</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FeedbackTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.FeedbackTests@7085bdee]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ee9989">  <td>20/03/12 15:41:27</td>   <td>48167</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FeedbackTests.SRA100_Verify_user_cannot_send_Feedback_with_invalid_Email_address()[pri:0, instance:smi.rendering.test.renderingtest.FeedbackTests@7085bdee]">SRA100_Verify_user_cannot_send_Feedback_with_invalid_Email_address</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ee9989">  <td>20/03/12 15:41:27</td>   <td>48625</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FeedbackTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.FeedbackTests@7085bdee]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ee9989">  <td>20/03/12 15:41:28</td>   <td>48910</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FeedbackTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.FeedbackTests@7085bdee]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ee9989">  <td>20/03/12 15:41:31</td>   <td>51838</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FeedbackTests.SRA131_Verify_user_gets_popup_when_sending_Feedback_with_text_less_than_10_characters()[pri:0, instance:smi.rendering.test.renderingtest.FeedbackTests@7085bdee]">SRA131_Verify_user_gets_popup_when_sending_Feedback_with_text_less_than_10_characters</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ee9989">  <td>20/03/12 15:41:34</td>   <td>55238</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FeedbackTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.FeedbackTests@7085bdee]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ee9989">  <td>20/03/12 15:41:34</td>   <td>55306</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FeedbackTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.FeedbackTests@7085bdee]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ee9989">  <td>20/03/12 15:41:37</td>   <td>57911</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FeedbackTests.SRA99_Verify_user_cannot_send_Feedback_without_Email_address()[pri:0, instance:smi.rendering.test.renderingtest.FeedbackTests@7085bdee]">SRA99_Verify_user_cannot_send_Feedback_without_Email_address</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ee9989">  <td>20/03/12 15:41:37</td>   <td>58278</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FeedbackTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.FeedbackTests@7085bdee]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ee9989">  <td>20/03/12 15:41:37</td>   <td>58560</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FeedbackTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.FeedbackTests@7085bdee]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ee9989">  <td>20/03/12 15:41:43</td>   <td>64658</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FeedbackTests.SRA204_Verify_that_user_cant_send_blank_feedback()[pri:0, instance:smi.rendering.test.renderingtest.FeedbackTests@7085bdee]">SRA204_Verify_that_user_cant_send_blank_feedback</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ee9989">  <td>20/03/12 15:41:44</td>   <td>65224</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FeedbackTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.FeedbackTests@7085bdee]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ee9989">  <td>20/03/12 15:41:44</td>   <td>65555</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FeedbackTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.FeedbackTests@7085bdee]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ee9989">  <td>20/03/12 15:41:47</td>   <td>68534</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FeedbackTests.SRA96_Verify_user_can_send_Feedback_successfully()[pri:0, instance:smi.rendering.test.renderingtest.FeedbackTests@7085bdee]">SRA96_Verify_user_can_send_Feedback_successfully</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ee9989">  <td>20/03/12 15:41:48</td>   <td>69363</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FeedbackTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.FeedbackTests@7085bdee]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ee9989">  <td>20/03/12 15:41:48</td>   <td>69672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FeedbackTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.FeedbackTests@7085bdee]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ee9989">  <td>20/03/12 15:41:52</td>   <td>72795</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FeedbackTests.SRA97_Check_Feedback_Saved_to_DB()[pri:0, instance:smi.rendering.test.renderingtest.FeedbackTests@7085bdee]">SRA97_Check_Feedback_Saved_to_DB</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ee9989">  <td>20/03/12 15:41:52</td>   <td>73471</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FeedbackTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.FeedbackTests@7085bdee]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ee9989">  <td>20/03/12 15:41:52</td>   <td>73725</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FeedbackTests.CloseBrowser()[pri:0, instance:smi.rendering.test.renderingtest.FeedbackTests@7085bdee]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
</table>
