<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite (4)</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ea97a2">  <td>20/03/12 15:47:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTests.Initialize(boolean)[pri:0, instance:smi.rendering.test.renderingtest.LoginTests@3159c4b8]">&gt;&gt;Initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ea97a2">  <td>20/03/12 15:47:39</td>   <td>8655</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.LoginTests@3159c4b8]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ea97a2">  <td>20/03/12 15:47:39</td>   <td>8656</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.SRA127_Verify_that_user_cant_login_with_not_activated_email()[pri:0, instance:smi.rendering.test.renderingtest.LoginTests@3159c4b8]">SRA127_Verify_that_user_cant_login_with_not_activated_email</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ea97a2">  <td>20/03/12 15:47:52</td>   <td>22108</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.LoginTests@3159c4b8]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ea97a2">  <td>20/03/12 15:47:53</td>   <td>22250</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.LoginTests@3159c4b8]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ea97a2">  <td>20/03/12 15:47:53</td>   <td>22250</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.SRA2_Verify_that_user_cant_login_with_none_exist_email()[pri:0, instance:smi.rendering.test.renderingtest.LoginTests@3159c4b8]">SRA2_Verify_that_user_cant_login_with_none_exist_email</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ea97a2">  <td>20/03/12 15:47:53</td>   <td>22626</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.LoginTests@3159c4b8]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ea97a2">  <td>20/03/12 15:47:53</td>   <td>22774</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.LoginTests@3159c4b8]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ea97a2">  <td>20/03/12 15:47:53</td>   <td>22774</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.SRA3_Verify_user_cant_login_with_invalid_Email()[pri:0, instance:smi.rendering.test.renderingtest.LoginTests@3159c4b8]">SRA3_Verify_user_cant_login_with_invalid_Email</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ea97a2">  <td>20/03/12 15:47:53</td>   <td>23163</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.LoginTests@3159c4b8]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ea97a2">  <td>20/03/12 15:47:54</td>   <td>23308</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.LoginTests@3159c4b8]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ea97a2">  <td>20/03/12 15:47:54</td>   <td>23308</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.SRA4_Verify_user_cant_login_with_too_short_password()[pri:0, instance:smi.rendering.test.renderingtest.LoginTests@3159c4b8]">SRA4_Verify_user_cant_login_with_too_short_password</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ea97a2">  <td>20/03/12 15:47:54</td>   <td>23633</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.LoginTests@3159c4b8]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ea97a2">  <td>20/03/12 15:47:54</td>   <td>23775</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.LoginTests@3159c4b8]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ea97a2">  <td>20/03/12 15:47:54</td>   <td>23775</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.SRA93_Verify_that_user_cant_login_with_invalid_inputs()[pri:0, instance:smi.rendering.test.renderingtest.LoginTests@3159c4b8]">SRA93_Verify_that_user_cant_login_with_invalid_inputs</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ea97a2">  <td>20/03/12 15:47:54</td>   <td>24095</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.LoginTests@3159c4b8]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ea97a2">  <td>20/03/12 15:47:55</td>   <td>24240</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.LoginTests@3159c4b8]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ea97a2">  <td>20/03/12 15:47:55</td>   <td>24240</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.SRA90_Verify_that_user_cant_login_with_blank_Username()[pri:0, instance:smi.rendering.test.renderingtest.LoginTests@3159c4b8]">SRA90_Verify_that_user_cant_login_with_blank_Username</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ea97a2">  <td>20/03/12 15:47:55</td>   <td>24392</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.LoginTests@3159c4b8]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ea97a2">  <td>20/03/12 15:47:55</td>   <td>24542</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.LoginTests@3159c4b8]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ea97a2">  <td>20/03/12 15:47:55</td>   <td>24542</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.SRA91_Verify_that_user_cant_login_with_blank_password()[pri:0, instance:smi.rendering.test.renderingtest.LoginTests@3159c4b8]">SRA91_Verify_that_user_cant_login_with_blank_password</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ea97a2">  <td>20/03/12 15:47:55</td>   <td>24711</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.LoginTests@3159c4b8]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ea97a2">  <td>20/03/12 15:47:55</td>   <td>24844</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.LoginTests@3159c4b8]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ea97a2">  <td>20/03/12 15:47:55</td>   <td>24844</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.SRA1_User_can_login_with_exist_account_successfully()[pri:0, instance:smi.rendering.test.renderingtest.LoginTests@3159c4b8]">SRA1_User_can_login_with_exist_account_successfully</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ea97a2">  <td>20/03/12 15:48:04</td>   <td>33228</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.LoginTests@3159c4b8]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ea97a2">  <td>20/03/12 15:48:04</td>   <td>33415</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTests.CloseBrowser()[pri:0, instance:smi.rendering.test.renderingtest.LoginTests@3159c4b8]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
</table>
