<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite (7)</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="afe4ac">  <td>20/03/12 15:54:04</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SaveTests.Initialize(boolean)[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">&gt;&gt;Initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 15:54:45</td>   <td>40524</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SaveTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 15:54:47</td>   <td>42882</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SaveTests.SRA244_Verify_that_user_cant_save_file_with_empty_file_name()[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">SRA244_Verify_that_user_cant_save_file_with_empty_file_name</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 15:54:48</td>   <td>43415</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SaveTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 15:54:48</td>   <td>43751</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SaveTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 15:54:52</td>   <td>47565</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SaveTests.SRA242_Verify_that_the_Open_to_public_checkbox_is_working_successfully()[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">SRA242_Verify_that_the_Open_to_public_checkbox_is_working_successfully</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 15:55:53</td>   <td>108771</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SaveTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 15:55:53</td>   <td>109000</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SaveTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 15:55:56</td>   <td>111349</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SaveTests.SRA198_Verify_a_Message_popup_appear_when_save_text_file_with_Orginal_Template_file_name_New_then_Overwrite_part_3()[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">SRA198_Verify_a_Message_popup_appear_when_save_text_file_with_Orginal_Template_file_name_New_then_Overwrite_part_3</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 15:56:04</td>   <td>119977</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SaveTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 15:56:04</td>   <td>120211</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SaveTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 15:56:07</td>   <td>122660</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SaveTests.SRA198_Verify_a_overwrite_cancel_popup_appear_when_save_text_file_with_existing_file_name_overwrite_part_1()[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">SRA198_Verify_a_overwrite_cancel_popup_appear_when_save_text_file_with_existing_file_name_overwrite_part_1</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 15:56:58</td>   <td>173705</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SaveTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 15:56:58</td>   <td>173931</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SaveTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 15:57:01</td>   <td>176985</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SaveTests.SRA198_Verify_a_overwrite_cancel_popup_appear_when_save_text_file_with_existing_file_name_overwrite_part_1()[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">SRA198_Verify_a_overwrite_cancel_popup_appear_when_save_text_file_with_existing_file_name_overwrite_part_1</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 15:57:48</td>   <td>223712</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SaveTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 15:57:48</td>   <td>223946</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SaveTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 15:57:51</td>   <td>226986</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SaveTests.SRA199_Verify_a_permission_popup_appear_when_save_text_file_with_existing_file_name_overwrite()[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">SRA199_Verify_a_permission_popup_appear_when_save_text_file_with_existing_file_name_overwrite</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 15:58:48</td>   <td>283699</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SaveTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 15:58:48</td>   <td>283945</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SaveTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 15:58:52</td>   <td>287912</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SaveTests.SRA198_Verify_a_overwrite_cancel_popup_appear_when_save_text_file_with_existing_file_name_cancel_part_2()[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">SRA198_Verify_a_overwrite_cancel_popup_appear_when_save_text_file_with_existing_file_name_cancel_part_2</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 15:59:44</td>   <td>339669</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SaveTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 15:59:44</td>   <td>339942</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SaveTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 15:59:48</td>   <td>343833</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SaveTests.SRA171_Verify_a_proper_message_appear_when_save_template_with_the_same_name()[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">SRA171_Verify_a_proper_message_appear_when_save_template_with_the_same_name</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 15:59:58</td>   <td>354066</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SaveTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 15:59:59</td>   <td>354358</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SaveTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 16:00:03</td>   <td>358732</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SaveTests.SRA176_Verify_a_proper_message_appear_when_save_text_file_with_the_same_name()[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">SRA176_Verify_a_proper_message_appear_when_save_text_file_with_the_same_name</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 16:00:14</td>   <td>370057</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SaveTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 16:00:14</td>   <td>370271</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SaveTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 16:00:19</td>   <td>374668</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SaveTests.SRA176_Verify_a_proper_message_appear_when_save_text_file_with_the_same_name()[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">SRA176_Verify_a_proper_message_appear_when_save_text_file_with_the_same_name</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 16:00:28</td>   <td>383860</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SaveTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 16:00:28</td>   <td>384136</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SaveTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 16:00:33</td>   <td>388632</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SaveTests.SRA107_Verify_user_can_save_imported_text()[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">SRA107_Verify_user_can_save_imported_text</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 16:00:57</td>   <td>412968</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SaveTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 16:00:57</td>   <td>413251</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SaveTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 16:01:02</td>   <td>418031</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SaveTests.SRA113_Verify_saving_blank_text_box_displays_popup()[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">SRA113_Verify_saving_blank_text_box_displays_popup</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 16:01:02</td>   <td>418297</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SaveTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 16:01:03</td>   <td>418556</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SaveTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 16:01:07</td>   <td>423165</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SaveTests.SRA118_Check_the_save_button_activate_only_after_selecting_domain()[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">SRA118_Check_the_save_button_activate_only_after_selecting_domain</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 16:01:08</td>   <td>423345</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SaveTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 16:01:08</td>   <td>423610</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SaveTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 16:01:12</td>   <td>428254</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SaveTests.SRA67_check_the_save_option()[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">SRA67_check_the_save_option</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 16:01:13</td>   <td>429087</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SaveTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 16:01:14</td>   <td>429353</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SaveTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 16:01:18</td>   <td>434136</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SaveTests.SRA138_Check_saving_a_text_that_includes_specific_symbols()[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">SRA138_Check_saving_a_text_that_includes_specific_symbols</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 16:02:04</td>   <td>480006</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SaveTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 16:02:04</td>   <td>480232</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SaveTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 16:02:08</td>   <td>483918</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SaveTests.SRA34_check_the_cancel_option()[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">SRA34_check_the_cancel_option</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 16:02:18</td>   <td>493964</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SaveTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 16:02:18</td>   <td>494192</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SaveTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 16:02:22</td>   <td>498134</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SaveTests.SRA68_Check_the_saved_text_stored_in_the_DB()[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">SRA68_Check_the_saved_text_stored_in_the_DB</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 16:02:23</td>   <td>498910</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SaveTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 16:02:23</td>   <td>499152</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SaveTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 16:02:28</td>   <td>503523</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SaveTests.SRA69_Check_the_texts_saved_in_SSML_format_in_the_DB()[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">SRA69_Check_the_texts_saved_in_SSML_format_in_the_DB</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 16:02:35</td>   <td>511149</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SaveTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 16:02:36</td>   <td>511444</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SaveTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 16:02:40</td>   <td>516281</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SaveTests.SRA70_Check_the_SSML_tags_of_the_mood_in_DB()[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">SRA70_Check_the_SSML_tags_of_the_mood_in_DB</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 16:02:53</td>   <td>529170</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SaveTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 16:02:54</td>   <td>529481</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SaveTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 16:02:58</td>   <td>533856</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SaveTests.SRA71_Check_the_SSML_tags_of_the_Emphasis_in_DB()[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">SRA71_Check_the_SSML_tags_of_the_Emphasis_in_DB</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 16:03:06</td>   <td>542023</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SaveTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 16:03:07</td>   <td>542392</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SaveTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 16:03:12</td>   <td>548141</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SaveTests.SRA72_Check_the_SSML_tags_of_the_Gesture_in_DB()[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">SRA72_Check_the_SSML_tags_of_the_Gesture_in_DB</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 16:03:24</td>   <td>559572</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SaveTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 16:03:24</td>   <td>559880</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SaveTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 16:03:32</td>   <td>568044</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SaveTests.SRA136_Check_saving_only_one_letter()[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">SRA136_Check_saving_only_one_letter</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 16:03:33</td>   <td>568458</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SaveTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>20/03/12 16:03:33</td>   <td>569123</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SaveTests.CloseBrowser()[pri:0, instance:smi.rendering.test.renderingtest.SaveTests@66480dd7]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
</table>
