<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Full Regression</td><td>ShareTests.SRA110_check_that_the_person_you_shared_with_him_gets_email_notification()[pri:0, instance:smi.rendering.test.renderingtest.ShareTests@20398b7c]<br/>ShareTests.SRA112_Check_the_shared_notes_saved_in_the_DB()[pri:0, instance:smi.rendering.test.renderingtest.ShareTests@20398b7c]<br/>ShareTests.SRA109_Verify_user_can_share_his_own_files()[pri:0, instance:smi.rendering.test.renderingtest.ShareTests@20398b7c]<br/>ShareTests.SRA114_Verify_user_cannot_share_with_blank_email_fields()[pri:0, instance:smi.rendering.test.renderingtest.ShareTests@20398b7c]<br/>ShareTests.SRA147_Verify_user_can_share_Template_successfully()[pri:0, instance:smi.rendering.test.renderingtest.ShareTests@20398b7c]<br/></td></tr>
<tr><td>Smoke Test</td><td>ShareTests.SRA109_Verify_user_can_share_his_own_files()[pri:0, instance:smi.rendering.test.renderingtest.ShareTests@20398b7c]<br/>ShareTests.SRA147_Verify_user_can_share_Template_successfully()[pri:0, instance:smi.rendering.test.renderingtest.ShareTests@20398b7c]<br/></td></tr>
</table>
