<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite (8)</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c273d3">  <td>20/03/12 16:08:56</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ShareTests.CloseBrowser()[pri:0, instance:smi.rendering.test.renderingtest.ShareTests@20398b7c]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="c273d3">  <td>20/03/12 16:03:34</td>   <td>-321416</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ShareTests.Initialize(boolean)[pri:0, instance:smi.rendering.test.renderingtest.ShareTests@20398b7c]">&gt;&gt;Initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="c273d3">  <td>20/03/12 16:07:54</td>   <td>-61966</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ShareTests.SRA109_Verify_user_can_share_his_own_files()[pri:0, instance:smi.rendering.test.renderingtest.ShareTests@20398b7c]">SRA109_Verify_user_can_share_his_own_files</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="c273d3">  <td>20/03/12 16:08:31</td>   <td>-24978</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ShareTests.SRA110_check_that_the_person_you_shared_with_him_gets_email_notification()[pri:0, instance:smi.rendering.test.renderingtest.ShareTests@20398b7c]">SRA110_check_that_the_person_you_shared_with_him_gets_email_notification</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="c273d3">  <td>20/03/12 16:08:11</td>   <td>-44764</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ShareTests.SRA112_Check_the_shared_notes_saved_in_the_DB()[pri:0, instance:smi.rendering.test.renderingtest.ShareTests@20398b7c]">SRA112_Check_the_shared_notes_saved_in_the_DB</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="c273d3">  <td>20/03/12 16:07:16</td>   <td>-99369</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ShareTests.SRA114_Verify_user_cannot_share_with_blank_email_fields()[pri:0, instance:smi.rendering.test.renderingtest.ShareTests@20398b7c]">SRA114_Verify_user_cannot_share_with_blank_email_fields</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="c273d3">  <td>20/03/12 16:07:26</td>   <td>-89551</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ShareTests.SRA147_Verify_user_can_share_Template_successfully()[pri:0, instance:smi.rendering.test.renderingtest.ShareTests@20398b7c]">SRA147_Verify_user_can_share_Template_successfully</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="c273d3">  <td>20/03/12 16:07:13</td>   <td>-102633</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ShareTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.ShareTests@20398b7c]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="c273d3">  <td>20/03/12 16:07:22</td>   <td>-93973</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ShareTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.ShareTests@20398b7c]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="c273d3">  <td>20/03/12 16:07:50</td>   <td>-65651</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ShareTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.ShareTests@20398b7c]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="c273d3">  <td>20/03/12 16:08:05</td>   <td>-50820</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ShareTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.ShareTests@20398b7c]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="c273d3">  <td>20/03/12 16:08:27</td>   <td>-28773</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ShareTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.ShareTests@20398b7c]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="c273d3">  <td>20/03/12 16:07:21</td>   <td>-94313</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ShareTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.ShareTests@20398b7c]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="c273d3">  <td>20/03/12 16:07:50</td>   <td>-65902</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ShareTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.ShareTests@20398b7c]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="c273d3">  <td>20/03/12 16:08:04</td>   <td>-51171</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ShareTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.ShareTests@20398b7c]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="c273d3">  <td>20/03/12 16:08:26</td>   <td>-29013</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ShareTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.ShareTests@20398b7c]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="c273d3">  <td>20/03/12 16:08:55</td>   <td>-499</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ShareTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.ShareTests@20398b7c]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
</table>
