<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite (3)</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b9f472">  <td>20/03/12 15:47:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GUI_Tests.CloseBrowser()[pri:0, instance:smi.rendering.test.renderingtest.GUI_Tests@13805618]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="b9f472">  <td>20/03/12 15:43:56</td>   <td>-213195</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GUI_Tests.Initialize(boolean)[pri:0, instance:smi.rendering.test.renderingtest.GUI_Tests@13805618]">&gt;&gt;Initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="b9f472">  <td>20/03/12 15:47:22</td>   <td>-7304</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GUI_Tests.SRA218_Check_the_select_project_domain_page_components()[pri:0, instance:smi.rendering.test.renderingtest.GUI_Tests@13805618]">SRA218_Check_the_select_project_domain_page_components</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="b9f472">  <td>20/03/12 15:44:09</td>   <td>-200219</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GUI_Tests.SRA37_Check_Login_Page()[pri:0, instance:smi.rendering.test.renderingtest.GUI_Tests@13805618]">SRA37_Check_Login_Page</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="b9f472">  <td>20/03/12 15:44:10</td>   <td>-199895</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GUI_Tests.SRA38_Check_signup_Page()[pri:0, instance:smi.rendering.test.renderingtest.GUI_Tests@13805618]">SRA38_Check_signup_Page</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="b9f472">  <td>20/03/12 15:47:09</td>   <td>-20465</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GUI_Tests.SRA39_Check_Forgot_Password_Page()[pri:0, instance:smi.rendering.test.renderingtest.GUI_Tests@13805618]">SRA39_Check_Forgot_Password_Page</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="b9f472">  <td>20/03/12 15:47:22</td>   <td>-7956</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GUI_Tests.SRA39_Check_Forgot_Password_Page()[pri:0, instance:smi.rendering.test.renderingtest.GUI_Tests@13805618]">SRA39_Check_Forgot_Password_Page</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="b9f472">  <td>20/03/12 15:45:24</td>   <td>-126009</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GUI_Tests.SRA73_Check_the_save_popup()[pri:0, instance:smi.rendering.test.renderingtest.GUI_Tests@13805618]">SRA73_Check_the_save_popup</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="b9f472">  <td>20/03/12 15:45:59</td>   <td>-90637</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GUI_Tests.SRA74_Check_the_save_share_popup()[pri:0, instance:smi.rendering.test.renderingtest.GUI_Tests@13805618]">SRA74_Check_the_save_share_popup</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="b9f472">  <td>20/03/12 15:44:11</td>   <td>-199014</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GUI_Tests.SRA89_Check_the_Main_Screen()[pri:0, instance:smi.rendering.test.renderingtest.GUI_Tests@13805618]">SRA89_Check_the_Main_Screen</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="b9f472">  <td>20/03/12 15:44:50</td>   <td>-159238</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GUI_Tests.SRA90_Check_the_Main_Screen_labels()[pri:0, instance:smi.rendering.test.renderingtest.GUI_Tests@13805618]">SRA90_Check_the_Main_Screen_labels</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="b9f472">  <td>20/03/12 15:46:34</td>   <td>-55733</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GUI_Tests.SRA95_Check_the_Feedback_popup()[pri:0, instance:smi.rendering.test.renderingtest.GUI_Tests@13805618]">SRA95_Check_the_Feedback_popup</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="b9f472">  <td>20/03/12 15:44:09</td>   <td>-200219</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GUI_Tests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.GUI_Tests@13805618]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="b9f472">  <td>20/03/12 15:44:10</td>   <td>-199896</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GUI_Tests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.GUI_Tests@13805618]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="b9f472">  <td>20/03/12 15:44:11</td>   <td>-199015</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GUI_Tests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.GUI_Tests@13805618]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="b9f472">  <td>20/03/12 15:44:50</td>   <td>-159238</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GUI_Tests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.GUI_Tests@13805618]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="b9f472">  <td>20/03/12 15:45:24</td>   <td>-126010</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GUI_Tests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.GUI_Tests@13805618]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="b9f472">  <td>20/03/12 15:45:59</td>   <td>-90637</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GUI_Tests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.GUI_Tests@13805618]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="b9f472">  <td>20/03/12 15:46:34</td>   <td>-55733</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GUI_Tests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.GUI_Tests@13805618]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="b9f472">  <td>20/03/12 15:47:09</td>   <td>-20466</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GUI_Tests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.GUI_Tests@13805618]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="b9f472">  <td>20/03/12 15:47:22</td>   <td>-7956</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GUI_Tests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.GUI_Tests@13805618]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="b9f472">  <td>20/03/12 15:47:22</td>   <td>-7304</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GUI_Tests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.GUI_Tests@13805618]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="b9f472">  <td>20/03/12 15:44:10</td>   <td>-200097</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GUI_Tests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.GUI_Tests@13805618]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="b9f472">  <td>20/03/12 15:44:10</td>   <td>-199276</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GUI_Tests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.GUI_Tests@13805618]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="b9f472">  <td>20/03/12 15:44:50</td>   <td>-159586</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GUI_Tests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.GUI_Tests@13805618]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="b9f472">  <td>20/03/12 15:45:23</td>   <td>-126277</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GUI_Tests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.GUI_Tests@13805618]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="b9f472">  <td>20/03/12 15:45:59</td>   <td>-90875</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GUI_Tests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.GUI_Tests@13805618]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="b9f472">  <td>20/03/12 15:46:34</td>   <td>-55997</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GUI_Tests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.GUI_Tests@13805618]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="b9f472">  <td>20/03/12 15:47:09</td>   <td>-20707</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GUI_Tests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.GUI_Tests@13805618]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="b9f472">  <td>20/03/12 15:47:22</td>   <td>-8095</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GUI_Tests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.GUI_Tests@13805618]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="b9f472">  <td>20/03/12 15:47:22</td>   <td>-7491</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GUI_Tests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.GUI_Tests@13805618]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="b9f472">  <td>20/03/12 15:47:29</td>   <td>-188</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GUI_Tests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.GUI_Tests@13805618]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
</table>
