<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite (11)</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:48:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.CloseBrowser()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:33:01</td>   <td>-931866</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.Initialize(boolean)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;Initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:42:43</td>   <td>-350649</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA120_Verify_the_system_must_reset_the_block_of_time_in_the_wav_clip_after_any_change_in_the_text_field()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA120_Verify_the_system_must_reset_the_block_of_time_in_the_wav_clip_after_any_change_in_the_text_field</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:39:39</td>   <td>-534014</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA150_Verify_the_speed_feature_applies_to_part_of_the_text()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA150_Verify_the_speed_feature_applies_to_part_of_the_text</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:39:27</td>   <td>-546588</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA151_Verify_the_Volume_feature_applies_to_part_of_text()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA151_Verify_the_Volume_feature_applies_to_part_of_text</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:39:51</td>   <td>-521966</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA152_Verify_the_Pitch_feature_applies_to_the_whole_text()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA152_Verify_the_Pitch_feature_applies_to_the_whole_text</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:40:01</td>   <td>-512305</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA153_Verify_the_Pitch_feature_applies_to_part_of_text()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA153_Verify_the_Pitch_feature_applies_to_part_of_text</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:34:48</td>   <td>-825001</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA154_all_User_can_undo_the_change_pitch_speed_volume_for_part_sentence()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA154_all_User_can_undo_the_change_pitch_speed_volume_for_part_sentence</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:36:32</td>   <td>-721664</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA154_pitch_User_can_undo_the_change_pitch_for_part_sentence()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA154_pitch_User_can_undo_the_change_pitch_for_part_sentence</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:36:56</td>   <td>-697467</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA154_speed_User_can_undo_the_change_speed_for_part_sentence()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA154_speed_User_can_undo_the_change_speed_for_part_sentence</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:37:25</td>   <td>-667881</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA154_volume_User_can_undo_the_change_volume_for_part_sentence()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA154_volume_User_can_undo_the_change_volume_for_part_sentence</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:40:42</td>   <td>-470793</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA155_User_can_the_change_pitch_speed_volume_combine_with_emphasis()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA155_User_can_the_change_pitch_speed_volume_combine_with_emphasis</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:41:10</td>   <td>-443605</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA156_User_can_change_pitch_speed_volume_combine_with_Say_As()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA156_User_can_change_pitch_speed_volume_combine_with_Say_As</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:35:15</td>   <td>-798398</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA158_check_that_the_speed_volume_Pitch_values_saved_when_saving_file()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA158_check_that_the_speed_volume_Pitch_values_saved_when_saving_file</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:43:29</td>   <td>-303890</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA160_Try_text_with_non_regular_quotes_double_quotes()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA160_Try_text_with_non_regular_quotes_double_quotes</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:40:12</td>   <td>-500785</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA161_Check_selecting_a_bar_values_in_stages()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA161_Check_selecting_a_bar_values_in_stages</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:41:36</td>   <td>-417231</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA167_Verify_adding_IPA_for_words_with_changed_Volume_speed_Pitch()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA167_Verify_adding_IPA_for_words_with_changed_Volume_speed_Pitch</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:33:52</td>   <td>-881424</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA170_Verify_that_user_can_play_only_gestures_without_text()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA170_Verify_that_user_can_play_only_gestures_without_text</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:44:55</td>   <td>-217766</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA175_Verify_that_user_cant_change_VSP_for_part_of_the_word_part_1_pitch()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA175_Verify_that_user_cant_change_VSP_for_part_of_the_word_part_1_pitch</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:45:08</td>   <td>-205102</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA175_Verify_that_user_cant_change_VSP_for_part_of_the_word_part_2_volume()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA175_Verify_that_user_cant_change_VSP_for_part_of_the_word_part_2_volume</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:45:21</td>   <td>-192135</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA175_Verify_that_user_cant_change_VSP_for_part_of_the_word_part_3_speed()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA175_Verify_that_user_cant_change_VSP_for_part_of_the_word_part_3_speed</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:38:59</td>   <td>-573878</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA189_Verify_that_range_bars_value_doesnt_reset_after_adding_IPA()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA189_Verify_that_range_bars_value_doesnt_reset_after_adding_IPA</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:38:29</td>   <td>-604237</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA191_Verify_that_user_Can_change_the_bar_values_or_add_emphasis_for_words_before_question_mark()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA191_Verify_that_user_Can_change_the_bar_values_or_add_emphasis_for_words_before_question_mark</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:38:11</td>   <td>-622362</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA196_Verify_not_getting_strange_behavior_when_change_the_vsp_bars_values_for_emphasis_words()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA196_Verify_not_getting_strange_behavior_when_change_the_vsp_bars_values_for_emphasis_words</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:47:57</td>   <td>-36486</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA220_Verify_that_the_remove_icon_is_displayed_when_changing_VSP_without_highlighting_text_part_1_volume()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA220_Verify_that_the_remove_icon_is_displayed_when_changing_VSP_without_highlighting_text_part_1_volume</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:48:11</td>   <td>-22506</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA220_Verify_that_the_remove_icon_is_displayed_when_changing_VSP_without_highlighting_text_part_2_speed()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA220_Verify_that_the_remove_icon_is_displayed_when_changing_VSP_without_highlighting_text_part_2_speed</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:48:27</td>   <td>-6500</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA220_Verify_that_the_remove_icon_is_displayed_when_changing_VSP_without_highlighting_text_part_3_pitch()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA220_Verify_that_the_remove_icon_is_displayed_when_changing_VSP_without_highlighting_text_part_3_pitch</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:45:34</td>   <td>-178858</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA223_Verify_that_VSP_bar_values_are_reset_to_default_with_templates_part1_volume()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA223_Verify_that_VSP_bar_values_are_reset_to_default_with_templates_part1_volume</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:46:34</td>   <td>-119056</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA223_Verify_that_VSP_bar_values_are_reset_to_default_with_templates_part2_speed()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA223_Verify_that_VSP_bar_values_are_reset_to_default_with_templates_part2_speed</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:47:19</td>   <td>-73930</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA223_Verify_that_VSP_bar_values_are_reset_to_default_with_templates_part3_pitch()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA223_Verify_that_VSP_bar_values_are_reset_to_default_with_templates_part3_pitch</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:43:08</td>   <td>-325252</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA35_Check_the_play_button_starts_the_clip()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA35_Check_the_play_button_starts_the_clip</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:43:53</td>   <td>-280571</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA36_Check_the_pause_button()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA36_Check_the_pause_button</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:44:17</td>   <td>-255735</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA52_Check_the_Please_select_voice_popup_message()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA52_Check_the_Please_select_voice_popup_message</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:42:04</td>   <td>-389594</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA61_Verify_the_speed_feature_applies_to_the_whole_text()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA61_Verify_the_speed_feature_applies_to_the_whole_text</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:42:25</td>   <td>-368397</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA63_Verify_the_Volume_feature_applies_to_the_whole_text()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA63_Verify_the_Volume_feature_applies_to_the_whole_text</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:34:17</td>   <td>-856692</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA64_User_can_change_pitch_speed_volume_combine_with_any_gesture_style_mood()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA64_User_can_change_pitch_speed_volume_combine_with_any_gesture_style_mood</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:44:31</td>   <td>-242076</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA65_Check_the_clip_simply_resume_after_pausing_the_clip()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA65_Check_the_clip_simply_resume_after_pausing_the_clip</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:37:52</td>   <td>-641488</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA66_Verify_the_system_must_reload_the_clip_after_any_change_in_the_text_field()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA66_Verify_the_system_must_reload_the_clip_after_any_change_in_the_text_field</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:33:47</td>   <td>-886658</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:34:07</td>   <td>-866093</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:34:41</td>   <td>-832470</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:35:07</td>   <td>-805718</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:36:25</td>   <td>-728281</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:36:49</td>   <td>-704449</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:37:19</td>   <td>-674389</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:37:44</td>   <td>-649230</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:38:04</td>   <td>-629051</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:38:22</td>   <td>-611224</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:38:52</td>   <td>-581539</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:39:20</td>   <td>-553068</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:39:32</td>   <td>-541314</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:39:44</td>   <td>-528832</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:39:54</td>   <td>-518972</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:40:04</td>   <td>-509137</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:40:32</td>   <td>-481035</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:41:03</td>   <td>-450488</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:41:30</td>   <td>-423261</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:41:58</td>   <td>-395628</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:42:19</td>   <td>-374456</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:42:40</td>   <td>-353126</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:43:06</td>   <td>-327222</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:43:27</td>   <td>-305926</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:43:51</td>   <td>-282696</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:44:12</td>   <td>-261565</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:44:29</td>   <td>-244677</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:44:54</td>   <td>-219653</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:45:02</td>   <td>-211412</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:45:15</td>   <td>-198344</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:45:28</td>   <td>-185422</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:46:27</td>   <td>-125956</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:47:13</td>   <td>-80662</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:47:51</td>   <td>-42548</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:48:05</td>   <td>-28545</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:48:19</td>   <td>-14593</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:34:07</td>   <td>-866530</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:34:40</td>   <td>-833290</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:35:07</td>   <td>-806018</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:36:24</td>   <td>-728797</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:36:49</td>   <td>-704528</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:37:18</td>   <td>-674888</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:37:43</td>   <td>-649710</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:38:04</td>   <td>-629303</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:38:21</td>   <td>-611782</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:38:51</td>   <td>-582105</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:39:20</td>   <td>-553602</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:39:31</td>   <td>-541885</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:39:44</td>   <td>-529376</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:39:54</td>   <td>-519485</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:40:04</td>   <td>-509703</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:40:32</td>   <td>-481559</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:41:02</td>   <td>-451016</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:41:29</td>   <td>-423789</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:41:57</td>   <td>-396150</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:42:18</td>   <td>-374964</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:42:40</td>   <td>-353654</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:43:06</td>   <td>-327301</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:43:27</td>   <td>-306169</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:43:50</td>   <td>-282937</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:44:12</td>   <td>-261646</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:44:28</td>   <td>-244763</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:44:53</td>   <td>-219900</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:45:01</td>   <td>-211712</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:45:14</td>   <td>-198839</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:45:27</td>   <td>-185926</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:46:27</td>   <td>-126243</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:47:12</td>   <td>-80950</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:47:50</td>   <td>-42820</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:48:04</td>   <td>-29048</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:48:18</td>   <td>-15095</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:48:33</td>   <td>-495</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
</table>
