<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite (11)</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:33:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.Initialize(boolean)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;Initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:33:47</td>   <td>45208</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:33:52</td>   <td>50442</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA170_Verify_that_user_can_play_only_gestures_without_text()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA170_Verify_that_user_can_play_only_gestures_without_text</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:34:07</td>   <td>65336</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:34:07</td>   <td>65773</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:34:17</td>   <td>75174</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA64_User_can_change_pitch_speed_volume_combine_with_any_gesture_style_mood()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA64_User_can_change_pitch_speed_volume_combine_with_any_gesture_style_mood</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:34:40</td>   <td>98576</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:34:41</td>   <td>99396</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:34:48</td>   <td>106865</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA154_all_User_can_undo_the_change_pitch_speed_volume_for_part_sentence()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA154_all_User_can_undo_the_change_pitch_speed_volume_for_part_sentence</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:35:07</td>   <td>125848</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:35:07</td>   <td>126148</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:35:15</td>   <td>133468</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA158_check_that_the_speed_volume_Pitch_values_saved_when_saving_file()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA158_check_that_the_speed_volume_Pitch_values_saved_when_saving_file</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:36:24</td>   <td>203069</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:36:25</td>   <td>203585</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:36:32</td>   <td>210202</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA154_pitch_User_can_undo_the_change_pitch_for_part_sentence()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA154_pitch_User_can_undo_the_change_pitch_for_part_sentence</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:36:49</td>   <td>227338</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:36:49</td>   <td>227417</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:36:56</td>   <td>234399</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA154_speed_User_can_undo_the_change_speed_for_part_sentence()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA154_speed_User_can_undo_the_change_speed_for_part_sentence</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:37:18</td>   <td>256978</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:37:19</td>   <td>257477</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:37:25</td>   <td>263985</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA154_volume_User_can_undo_the_change_volume_for_part_sentence()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA154_volume_User_can_undo_the_change_volume_for_part_sentence</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:37:43</td>   <td>282156</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:37:44</td>   <td>282636</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:37:52</td>   <td>290378</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA66_Verify_the_system_must_reload_the_clip_after_any_change_in_the_text_field()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA66_Verify_the_system_must_reload_the_clip_after_any_change_in_the_text_field</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:38:04</td>   <td>302563</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:38:04</td>   <td>302815</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:38:11</td>   <td>309504</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA196_Verify_not_getting_strange_behavior_when_change_the_vsp_bars_values_for_emphasis_words()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA196_Verify_not_getting_strange_behavior_when_change_the_vsp_bars_values_for_emphasis_words</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:38:21</td>   <td>320084</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:38:22</td>   <td>320642</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:38:29</td>   <td>327629</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA191_Verify_that_user_Can_change_the_bar_values_or_add_emphasis_for_words_before_question_mark()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA191_Verify_that_user_Can_change_the_bar_values_or_add_emphasis_for_words_before_question_mark</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:38:51</td>   <td>349761</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:38:52</td>   <td>350327</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:38:59</td>   <td>357988</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA189_Verify_that_range_bars_value_doesnt_reset_after_adding_IPA()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA189_Verify_that_range_bars_value_doesnt_reset_after_adding_IPA</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:39:20</td>   <td>378264</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:39:20</td>   <td>378798</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:39:27</td>   <td>385278</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA151_Verify_the_Volume_feature_applies_to_part_of_text()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA151_Verify_the_Volume_feature_applies_to_part_of_text</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:39:31</td>   <td>389981</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:39:32</td>   <td>390552</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:39:39</td>   <td>397852</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA150_Verify_the_speed_feature_applies_to_part_of_the_text()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA150_Verify_the_speed_feature_applies_to_part_of_the_text</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:39:44</td>   <td>402490</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:39:44</td>   <td>403034</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:39:51</td>   <td>409900</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA152_Verify_the_Pitch_feature_applies_to_the_whole_text()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA152_Verify_the_Pitch_feature_applies_to_the_whole_text</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:39:54</td>   <td>412381</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:39:54</td>   <td>412894</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:40:01</td>   <td>419561</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA153_Verify_the_Pitch_feature_applies_to_part_of_text()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA153_Verify_the_Pitch_feature_applies_to_part_of_text</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:40:04</td>   <td>422163</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:40:04</td>   <td>422729</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:40:12</td>   <td>431081</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA161_Check_selecting_a_bar_values_in_stages()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA161_Check_selecting_a_bar_values_in_stages</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:40:32</td>   <td>450307</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:40:32</td>   <td>450831</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:40:42</td>   <td>461073</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA155_User_can_the_change_pitch_speed_volume_combine_with_emphasis()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA155_User_can_the_change_pitch_speed_volume_combine_with_emphasis</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:41:02</td>   <td>480850</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:41:03</td>   <td>481378</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:41:10</td>   <td>488261</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA156_User_can_change_pitch_speed_volume_combine_with_Say_As()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA156_User_can_change_pitch_speed_volume_combine_with_Say_As</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:41:29</td>   <td>508077</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:41:30</td>   <td>508605</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:41:36</td>   <td>514635</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA167_Verify_adding_IPA_for_words_with_changed_Volume_speed_Pitch()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA167_Verify_adding_IPA_for_words_with_changed_Volume_speed_Pitch</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:41:57</td>   <td>535716</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:41:58</td>   <td>536238</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:42:04</td>   <td>542272</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA61_Verify_the_speed_feature_applies_to_the_whole_text()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA61_Verify_the_speed_feature_applies_to_the_whole_text</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:42:18</td>   <td>556902</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:42:19</td>   <td>557410</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:42:25</td>   <td>563469</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA63_Verify_the_Volume_feature_applies_to_the_whole_text()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA63_Verify_the_Volume_feature_applies_to_the_whole_text</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:42:40</td>   <td>578212</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:42:40</td>   <td>578740</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:42:43</td>   <td>581217</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA120_Verify_the_system_must_reset_the_block_of_time_in_the_wav_clip_after_any_change_in_the_text_field()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA120_Verify_the_system_must_reset_the_block_of_time_in_the_wav_clip_after_any_change_in_the_text_field</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:43:06</td>   <td>604565</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:43:06</td>   <td>604644</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:43:08</td>   <td>606614</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA35_Check_the_play_button_starts_the_clip()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA35_Check_the_play_button_starts_the_clip</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:43:27</td>   <td>625697</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:43:27</td>   <td>625940</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:43:29</td>   <td>627976</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA160_Try_text_with_non_regular_quotes_double_quotes()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA160_Try_text_with_non_regular_quotes_double_quotes</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:43:50</td>   <td>648929</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:43:51</td>   <td>649170</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:43:53</td>   <td>651295</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA36_Check_the_pause_button()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA36_Check_the_pause_button</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:44:12</td>   <td>670220</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:44:12</td>   <td>670301</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:44:17</td>   <td>676131</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA52_Check_the_Please_select_voice_popup_message()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA52_Check_the_Please_select_voice_popup_message</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:44:28</td>   <td>687103</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:44:29</td>   <td>687189</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:44:31</td>   <td>689790</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA65_Check_the_clip_simply_resume_after_pausing_the_clip()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA65_Check_the_clip_simply_resume_after_pausing_the_clip</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:44:53</td>   <td>711966</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:44:54</td>   <td>712213</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:44:55</td>   <td>714100</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA175_Verify_that_user_cant_change_VSP_for_part_of_the_word_part_1_pitch()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA175_Verify_that_user_cant_change_VSP_for_part_of_the_word_part_1_pitch</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:45:01</td>   <td>720154</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:45:02</td>   <td>720454</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:45:08</td>   <td>726764</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA175_Verify_that_user_cant_change_VSP_for_part_of_the_word_part_2_volume()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA175_Verify_that_user_cant_change_VSP_for_part_of_the_word_part_2_volume</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:45:14</td>   <td>733027</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:45:15</td>   <td>733522</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:45:21</td>   <td>739731</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA175_Verify_that_user_cant_change_VSP_for_part_of_the_word_part_3_speed()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA175_Verify_that_user_cant_change_VSP_for_part_of_the_word_part_3_speed</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:45:27</td>   <td>745940</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:45:28</td>   <td>746444</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:45:34</td>   <td>753008</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA223_Verify_that_VSP_bar_values_are_reset_to_default_with_templates_part1_volume()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA223_Verify_that_VSP_bar_values_are_reset_to_default_with_templates_part1_volume</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:46:27</td>   <td>805623</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:46:27</td>   <td>805910</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:46:34</td>   <td>812810</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA223_Verify_that_VSP_bar_values_are_reset_to_default_with_templates_part2_speed()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA223_Verify_that_VSP_bar_values_are_reset_to_default_with_templates_part2_speed</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:47:12</td>   <td>850916</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:47:13</td>   <td>851204</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:47:19</td>   <td>857936</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA223_Verify_that_VSP_bar_values_are_reset_to_default_with_templates_part3_pitch()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA223_Verify_that_VSP_bar_values_are_reset_to_default_with_templates_part3_pitch</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:47:50</td>   <td>889046</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:47:51</td>   <td>889318</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:47:57</td>   <td>895380</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA220_Verify_that_the_remove_icon_is_displayed_when_changing_VSP_without_highlighting_text_part_1_volume()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA220_Verify_that_the_remove_icon_is_displayed_when_changing_VSP_without_highlighting_text_part_1_volume</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:48:04</td>   <td>902818</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:48:05</td>   <td>903321</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:48:11</td>   <td>909360</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA220_Verify_that_the_remove_icon_is_displayed_when_changing_VSP_without_highlighting_text_part_2_speed()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA220_Verify_that_the_remove_icon_is_displayed_when_changing_VSP_without_highlighting_text_part_2_speed</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:48:18</td>   <td>916771</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:48:19</td>   <td>917273</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VoicePlayTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:48:27</td>   <td>925366</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VoicePlayTests.SRA220_Verify_that_the_remove_icon_is_displayed_when_changing_VSP_without_highlighting_text_part_3_pitch()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">SRA220_Verify_that_the_remove_icon_is_displayed_when_changing_VSP_without_highlighting_text_part_3_pitch</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:48:33</td>   <td>931371</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>20/03/12 16:48:33</td>   <td>931866</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VoicePlayTests.CloseBrowser()[pri:0, instance:smi.rendering.test.renderingtest.VoicePlayTests@6ddf90b0]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
</table>
