<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite (6)</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bdf5e5">  <td>20/03/12 15:54:03</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;OpenOptionsTests.CloseBrowser()[pri:0, instance:smi.rendering.test.renderingtest.OpenOptionsTests@7e0b0338]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>20/03/12 15:48:24</td>   <td>-339470</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;OpenOptionsTests.Initialize(boolean)[pri:0, instance:smi.rendering.test.renderingtest.OpenOptionsTests@7e0b0338]">&gt;&gt;Initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>20/03/12 15:52:58</td>   <td>-65234</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OpenOptionsTests.SRA103_Verify_user_can_open_TXT_file_to_the_rendering_app_successfully()[pri:0, instance:smi.rendering.test.renderingtest.OpenOptionsTests@7e0b0338]">SRA103_Verify_user_can_open_TXT_file_to_the_rendering_app_successfully</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>20/03/12 15:53:21</td>   <td>-42464</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OpenOptionsTests.SRA106_Verify_user_can_edit_opened_TXT()[pri:0, instance:smi.rendering.test.renderingtest.OpenOptionsTests@7e0b0338]">SRA106_Verify_user_can_edit_opened_TXT</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>20/03/12 15:49:38</td>   <td>-265122</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OpenOptionsTests.SRA108_Verify_user_can_open_text_with_numbers_and_symbols()[pri:0, instance:smi.rendering.test.renderingtest.OpenOptionsTests@7e0b0338]">SRA108_Verify_user_can_open_text_with_numbers_and_symbols</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>20/03/12 15:51:50</td>   <td>-133542</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OpenOptionsTests.SRA144_Verify_user_can_open_Template_successfully()[pri:0, instance:smi.rendering.test.renderingtest.OpenOptionsTests@7e0b0338]">SRA144_Verify_user_can_open_Template_successfully</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>20/03/12 15:49:15</td>   <td>-288634</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OpenOptionsTests.SRA145_Verify_user_can_open_Template_and_edit_the_editable_words_and_save_successfully()[pri:0, instance:smi.rendering.test.renderingtest.OpenOptionsTests@7e0b0338]">SRA145_Verify_user_can_open_Template_and_edit_the_editable_words_and_save_successfully</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>20/03/12 15:50:07</td>   <td>-236266</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OpenOptionsTests.SRA146_Verify_user_cant_save_template_with_the_same_name()[pri:0, instance:smi.rendering.test.renderingtest.OpenOptionsTests@7e0b0338]">SRA146_Verify_user_cant_save_template_with_the_same_name</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>20/03/12 15:49:54</td>   <td>-249417</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OpenOptionsTests.SRA182_domain_field_shouldn_t_be_editable_after_playing_text_bug_918()[pri:0, instance:smi.rendering.test.renderingtest.OpenOptionsTests@7e0b0338]">SRA182_domain_field_shouldn_t_be_editable_after_playing_text_bug_918</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>20/03/12 15:51:02</td>   <td>-181546</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OpenOptionsTests.SRA226_Verify_that_clear_text_button_doesnt_disappear_after_opening_file()[pri:0, instance:smi.rendering.test.renderingtest.OpenOptionsTests@7e0b0338]">SRA226_Verify_that_clear_text_button_doesnt_disappear_after_opening_file</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>20/03/12 15:51:26</td>   <td>-157460</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OpenOptionsTests.SRA227_Verify_that_red_remove_icons_are_not_displayed_after_opening_file_part1_files()[pri:0, instance:smi.rendering.test.renderingtest.OpenOptionsTests@7e0b0338]">SRA227_Verify_that_red_remove_icons_are_not_displayed_after_opening_file_part1_files</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>20/03/12 15:52:08</td>   <td>-115123</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OpenOptionsTests.SRA227_Verify_that_red_remove_icons_are_not_displayed_after_opening_file_part2_templates()[pri:0, instance:smi.rendering.test.renderingtest.OpenOptionsTests@7e0b0338]">SRA227_Verify_that_red_remove_icons_are_not_displayed_after_opening_file_part2_templates</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>20/03/12 15:50:29</td>   <td>-214533</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OpenOptionsTests.SRA234_Verify_that_IPA_is_disabled_for_template_fields()[pri:0, instance:smi.rendering.test.renderingtest.OpenOptionsTests@7e0b0338]">SRA234_Verify_that_IPA_is_disabled_for_template_fields</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>20/03/12 15:52:34</td>   <td>-89572</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OpenOptionsTests.SRA235_Verify_User_cant_insert_gesture_to_editable_template_fields()[pri:0, instance:smi.rendering.test.renderingtest.OpenOptionsTests@7e0b0338]">SRA235_Verify_User_cant_insert_gesture_to_editable_template_fields</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>20/03/12 15:50:53</td>   <td>-190497</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OpenOptionsTests.SRA236_Check_that_user_cant_save_empty_text()[pri:0, instance:smi.rendering.test.renderingtest.OpenOptionsTests@7e0b0338]">SRA236_Check_that_user_cant_save_empty_text</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>20/03/12 15:53:52</td>   <td>-11520</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OpenOptionsTests.SRA237_Verify_that_user_cant_save_text_that_contains_only_gestures()[pri:0, instance:smi.rendering.test.renderingtest.OpenOptionsTests@7e0b0338]">SRA237_Verify_that_user_cant_save_text_that_contains_only_gestures</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>20/03/12 15:49:11</td>   <td>-292384</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;OpenOptionsTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.OpenOptionsTests@7e0b0338]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>20/03/12 15:49:33</td>   <td>-270450</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;OpenOptionsTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.OpenOptionsTests@7e0b0338]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>20/03/12 15:49:49</td>   <td>-254585</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;OpenOptionsTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.OpenOptionsTests@7e0b0338]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>20/03/12 15:50:02</td>   <td>-241058</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;OpenOptionsTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.OpenOptionsTests@7e0b0338]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>20/03/12 15:50:23</td>   <td>-220376</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;OpenOptionsTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.OpenOptionsTests@7e0b0338]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>20/03/12 15:50:48</td>   <td>-195501</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;OpenOptionsTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.OpenOptionsTests@7e0b0338]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>20/03/12 15:50:57</td>   <td>-186554</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;OpenOptionsTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.OpenOptionsTests@7e0b0338]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>20/03/12 15:51:22</td>   <td>-161880</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;OpenOptionsTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.OpenOptionsTests@7e0b0338]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>20/03/12 15:51:45</td>   <td>-138440</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;OpenOptionsTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.OpenOptionsTests@7e0b0338]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>20/03/12 15:52:04</td>   <td>-119628</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;OpenOptionsTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.OpenOptionsTests@7e0b0338]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>20/03/12 15:52:29</td>   <td>-94759</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;OpenOptionsTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.OpenOptionsTests@7e0b0338]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>20/03/12 15:52:53</td>   <td>-70098</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;OpenOptionsTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.OpenOptionsTests@7e0b0338]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>20/03/12 15:53:16</td>   <td>-47512</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;OpenOptionsTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.OpenOptionsTests@7e0b0338]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>20/03/12 15:53:47</td>   <td>-16592</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;OpenOptionsTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.OpenOptionsTests@7e0b0338]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>20/03/12 15:49:33</td>   <td>-270511</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;OpenOptionsTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.OpenOptionsTests@7e0b0338]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>20/03/12 15:49:49</td>   <td>-254871</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;OpenOptionsTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.OpenOptionsTests@7e0b0338]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>20/03/12 15:50:02</td>   <td>-241319</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;OpenOptionsTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.OpenOptionsTests@7e0b0338]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>20/03/12 15:50:23</td>   <td>-220720</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;OpenOptionsTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.OpenOptionsTests@7e0b0338]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>20/03/12 15:50:48</td>   <td>-195737</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;OpenOptionsTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.OpenOptionsTests@7e0b0338]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>20/03/12 15:50:57</td>   <td>-186819</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;OpenOptionsTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.OpenOptionsTests@7e0b0338]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>20/03/12 15:51:21</td>   <td>-162128</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;OpenOptionsTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.OpenOptionsTests@7e0b0338]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>20/03/12 15:51:45</td>   <td>-138704</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;OpenOptionsTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.OpenOptionsTests@7e0b0338]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>20/03/12 15:52:04</td>   <td>-119863</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;OpenOptionsTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.OpenOptionsTests@7e0b0338]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>20/03/12 15:52:28</td>   <td>-95023</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;OpenOptionsTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.OpenOptionsTests@7e0b0338]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>20/03/12 15:52:53</td>   <td>-70370</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;OpenOptionsTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.OpenOptionsTests@7e0b0338]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>20/03/12 15:53:16</td>   <td>-47892</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;OpenOptionsTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.OpenOptionsTests@7e0b0338]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>20/03/12 15:53:47</td>   <td>-16902</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;OpenOptionsTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.OpenOptionsTests@7e0b0338]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>20/03/12 15:54:03</td>   <td>-267</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;OpenOptionsTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.OpenOptionsTests@7e0b0338]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
</table>
