<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>smi.rendering.test.renderingtest.TextEditorTests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA59_Verify_adding_International_Phonetic_Alphabet_to_the_text</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA193_Say_as_Verify_that_popup_opens_for_IPA_input_in_the_saved_files_629</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA215_Verify_that_alphabet_entry_in_say_as_supports_Nikud</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA142_Verify_User_can_replace_a_phrase_with_one_IPA_word</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA31_Check_the_Style_Gesture_and_Mood_can_be_changed_after_selecting_voice</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA60_Verify_adding_Pronunciation_Symbol_to_the_text</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA45_Verify_user_can_add_Gestures_to_the_text</td>
<td>Full Regression Smoke Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA238_Verify_that_user_cant_apply_Say_as_to_gestures</td>
<td>Full Regression Smoke Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA166_Check_keep_new_domain_option_with_moods</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA141_Verify_user_can_modify_the_exist_IPA_and_Pronunciation_symbols</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA169_LAST_WORD_Verify_user_can_edit_and_change_any_IPA_value_in_the_Say_as_Popup</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA115_Check_changing_voices_does_not_resetting_text_box</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA188_Verify_that_bars_doesnt_change_first_when_applying_say_as_then_change_bars_for_first_word_part2_emphasis</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA206_Check_that_the_mood_label_displayed_as_Tone_Mood</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA129_Check_the_Gesture_dropdown</td>
<td>Full Refression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA240_Verify_that_clip_doesnt_pause_after_clicking_between_the_download_button_and_wav_bar</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA83_Check_the_wrong_popup_message_displays_when_the_user_click_the_play_message_without_selecting_Domain</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA208_Verify_that_resetting_the_speed_bar_values_works_successfully</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA57_Verify_adding_Emphasis_to_the_text</td>
<td>Full Regression Smoke Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA211_Verify_that_emphasize_can_be_removed_successfully</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA231_Verify_that_language_dropdown_isnt_changed_after_opening_template</td>
<td>Full Regression Smoke Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA174_Verify_that_the_Say_as_popup_doesn_t_open_if_no_text_was_highlighted</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA84_Check_the_wrong_popup_message_displays_when_the_user_click_the_play_without_inputting_text</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA187_Say_as_Verify_that_Pronunciation_symbols_doesnt_appear_when_adding_text_and_symbols</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA210_Verify_that_Say_As_feature_can_be_removed_successfully</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA159_Check_the_download_button_for_the_synthesized_text</td>
<td>Full Regression Smoke Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA192_Say_as_Verify_that_no_empty_field_appear_for_words_with_IPA_input_and_bars_values</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA207_Verify_that_resetting_the_volume_bar_values_works_successfully</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA221_Verify_that_the_remove_red_icon_is_not_displayed_after_unemphasizing_text</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA168_Template_Verify_user_can_clear_the_text_editor</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA173_Verify_the_Play_button_become_disable_when_the_confirm_message_displayed</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA188_Verify_that_bars_doesnt_change_first_when_applying_say_as_then_change_bars_for_first_word_part3_SayAs</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA168_text_Verify_user_can_clear_the_text_editor</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA75_Verify_user_can_add_numbers_and_symbols</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA139_Verify_User_can_replace_few_words_with_IPA_phrase</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA133_Check_playing_a_sentence_that_contains_gesture_and_marked_with_mood</td>
<td>Full Regression Smoke Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA124_Verify_the_user_can_save_multiple_lines_in_the_text_box</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA194_Verify_that_user_Can_erase_or_make_changes_for_the_first_word_in_each_row</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA85_Check_the_reaction_of_the_app_when_the_user_inputs_NOT_English_words</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA164_Check_keep_new_domain_option_with_gestures</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA213_Verify_that_user_cant_play_the_instructions_text_before_clicking_Clear_Text</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA162_Mouse_click_on_text_editor_after_rendering</td>
<td>Full Regression Smoke Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA32_Check_the_Style_dropdown</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA209_Verify_that_resetting_the_pitch_bar_values_works_successfully</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA88_Check_the_limitation_of_the_text_box</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA224_Verify_that_user_can_reopen_say_as_popup_after_applying_say_as_to_multiple_lines</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA130_Check_the_Mood_dropdown</td>
<td>Full Refression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA82_Check_the_wrong_popup_message_displays_when_user_click_the_play_message_without_selecting_a_voice</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA172_Text_Verify_that_text_shift_when_change_voices_for_Hebrew_and_English</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA169_MIDDLE_WORD_Verify_user_can_edit_and_change_any_IPA_value_in_the_Say_as_Popup</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA183_Pressing_clear_button_after_applying_say_as_shouldn_t_removethe_word_from_text_editor_bug_914</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA229_Verify_that_IPA_Say_as_button_works_after_copying_template_with_editable_fields</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA241_Check_that_choosing_gesture_without_clicking_on_the_text_area_doesnt_case_error_in_console</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA228_Verify_that_mood_isnt_changed_after_opening_template_and_selecting_voice</td>
<td>Full Regression Smoke Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA172_Template_Verify_that_text_shift_when_change_voices_for_Hebrew_and_English</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA160_Try_text_with_non_regular_quotes_double_quotes</td>
<td>Full Regression Smoke Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA188_Verify_that_bars_doesnt_change_first_when_applying_say_as_then_change_bars_for_first_word_part1_change_bar</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA239_Verify_that_saving_new_template_and_opening_will_not_change_the_language</td>
<td>Full Regression Smoke Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA137_Verify_adding_International_Phonetic_Alphabet_with_Pronunciaton_symbols_to_the_text</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA56_Check_the_remove_Mood_feature</td>
<td>Full regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA216_Verify_that_gestures_are_inserted_in_the_correct_order_according_to_language</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA165_Check_restore_previous_domain_option_with_moods</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA230_Verify_that_text_area_is_cleared_when_choosing_new_domain_while_template_is_opened</td>
<td>Full Regression Smoke Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA212_Verify_that_mood_can_be_removed_successfully</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA58_Check_the_remove_Emphasis_feature</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA140_Verify_Message_appear_when_try_to_add_IPA_when_no_text_was_selected</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA117_Add_tags_to_copy_paste_text</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA169_FIRST_WORD_Verify_user_can_edit_and_change_any_IPA_value_in_the_Say_as_Popup</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA214_Verify_that_alphabet_entry_in_say_as_set_according_to_the_suitable_language</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA222_Verify_that_user_can_apply_mood_to_already_mooded_text</td>
<td>Full Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SRA163_Check_restore_previous_domain_option_with_gestures</td>
<td>Full Regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Initialize</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getResult</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CloseBrowser</td>
<td>&nbsp;</td></tr>
</table>
