<h2>Methods that were not run</h2><table>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA238_Verify_that_user_cant_apply_Say_as_to_gestures</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA60_Verify_adding_Pronunciation_Symbol_to_the_text</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA45_Verify_user_can_add_Gestures_to_the_text</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA215_Verify_that_alphabet_entry_in_say_as_supports_Nikud</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA31_Check_the_Style_Gesture_and_Mood_can_be_changed_after_selecting_voice</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA59_Verify_adding_International_Phonetic_Alphabet_to_the_text</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA206_Check_that_the_mood_label_displayed_as_Tone_Mood</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA188_Verify_that_bars_doesnt_change_first_when_applying_say_as_then_change_bars_for_first_word_part2_emphasis</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA142_Verify_User_can_replace_a_phrase_with_one_IPA_word</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA83_Check_the_wrong_popup_message_displays_when_the_user_click_the_play_message_without_selecting_Domain</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA129_Check_the_Gesture_dropdown</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA228_Verify_that_mood_isnt_changed_after_opening_template_and_selecting_voice</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA169_LAST_WORD_Verify_user_can_edit_and_change_any_IPA_value_in_the_Say_as_Popup</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA115_Check_changing_voices_does_not_resetting_text_box</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA141_Verify_user_can_modify_the_exist_IPA_and_Pronunciation_symbols</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA159_Check_the_download_button_for_the_synthesized_text</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA174_Verify_that_the_Say_as_popup_doesn_t_open_if_no_text_was_highlighted</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA84_Check_the_wrong_popup_message_displays_when_the_user_click_the_play_without_inputting_text</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA57_Verify_adding_Emphasis_to_the_text</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA208_Verify_that_resetting_the_speed_bar_values_works_successfully</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA211_Verify_that_emphasize_can_be_removed_successfully</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA231_Verify_that_language_dropdown_isnt_changed_after_opening_template</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA139_Verify_User_can_replace_few_words_with_IPA_phrase</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA168_Template_Verify_user_can_clear_the_text_editor</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA133_Check_playing_a_sentence_that_contains_gesture_and_marked_with_mood</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA221_Verify_that_the_remove_red_icon_is_not_displayed_after_unemphasizing_text</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA75_Verify_user_can_add_numbers_and_symbols</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA188_Verify_that_bars_doesnt_change_first_when_applying_say_as_then_change_bars_for_first_word_part3_SayAs</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA168_text_Verify_user_can_clear_the_text_editor</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA207_Verify_that_resetting_the_volume_bar_values_works_successfully</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA210_Verify_that_Say_As_feature_can_be_removed_successfully</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA32_Check_the_Style_dropdown</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA213_Verify_that_user_cant_play_the_instructions_text_before_clicking_Clear_Text</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA162_Mouse_click_on_text_editor_after_rendering</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA209_Verify_that_resetting_the_pitch_bar_values_works_successfully</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA88_Check_the_limitation_of_the_text_box</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA124_Verify_the_user_can_save_multiple_lines_in_the_text_box</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA85_Check_the_reaction_of_the_app_when_the_user_inputs_NOT_English_words</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA194_Verify_that_user_Can_erase_or_make_changes_for_the_first_word_in_each_row</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA172_Text_Verify_that_text_shift_when_change_voices_for_Hebrew_and_English</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA82_Check_the_wrong_popup_message_displays_when_user_click_the_play_message_without_selecting_a_voice</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA130_Check_the_Mood_dropdown</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA224_Verify_that_user_can_reopen_say_as_popup_after_applying_say_as_to_multiple_lines</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA229_Verify_that_IPA_Say_as_button_works_after_copying_template_with_editable_fields</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA188_Verify_that_bars_doesnt_change_first_when_applying_say_as_then_change_bars_for_first_word_part1_change_bar</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA172_Template_Verify_that_text_shift_when_change_voices_for_Hebrew_and_English</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA183_Pressing_clear_button_after_applying_say_as_shouldn_t_removethe_word_from_text_editor_bug_914</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA241_Check_that_choosing_gesture_without_clicking_on_the_text_area_doesnt_case_error_in_console</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA169_MIDDLE_WORD_Verify_user_can_edit_and_change_any_IPA_value_in_the_Say_as_Popup</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA214_Verify_that_alphabet_entry_in_say_as_set_according_to_the_suitable_language</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA222_Verify_that_user_can_apply_mood_to_already_mooded_text</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA160_Try_text_with_non_regular_quotes_double_quotes</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA169_FIRST_WORD_Verify_user_can_edit_and_change_any_IPA_value_in_the_Say_as_Popup</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA212_Verify_that_mood_can_be_removed_successfully</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA140_Verify_Message_appear_when_try_to_add_IPA_when_no_text_was_selected</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA56_Check_the_remove_Mood_feature</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA58_Check_the_remove_Emphasis_feature</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA137_Verify_adding_International_Phonetic_Alphabet_with_Pronunciaton_symbols_to_the_text</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA216_Verify_that_gestures_are_inserted_in_the_correct_order_according_to_language</td></tr>
</table>