<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="74d26a">  <td>20/04/02 19:30:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.Initialize(boolean)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3bfdc050]">&gt;&gt;Initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>20/04/02 19:32:06</td>   <td>66746</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3bfdc050]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>20/04/02 19:32:28</td>   <td>89406</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA192_Say_as_Verify_that_no_empty_field_appear_for_words_with_IPA_input_and_bars_values()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3bfdc050]">SRA192_Say_as_Verify_that_no_empty_field_appear_for_words_with_IPA_input_and_bars_values</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>20/04/02 19:33:43</td>   <td>164110</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3bfdc050]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>20/04/02 19:33:44</td>   <td>165720</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3bfdc050]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>20/04/02 19:34:14</td>   <td>195071</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA193_Say_as_Verify_that_popup_opens_for_IPA_input_in_the_saved_files_629()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3bfdc050]">SRA193_Say_as_Verify_that_popup_opens_for_IPA_input_in_the_saved_files_629</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>20/04/02 19:35:13</td>   <td>254508</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3bfdc050]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>20/04/02 19:35:14</td>   <td>255537</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3bfdc050]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>20/04/02 19:35:45</td>   <td>285853</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA165_Check_restore_previous_domain_option_with_moods()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3bfdc050]">SRA165_Check_restore_previous_domain_option_with_moods</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>20/04/02 19:36:22</td>   <td>323381</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3bfdc050]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>20/04/02 19:36:23</td>   <td>324343</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3bfdc050]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>20/04/02 19:36:49</td>   <td>350234</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA166_Check_keep_new_domain_option_with_moods()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3bfdc050]">SRA166_Check_keep_new_domain_option_with_moods</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>20/04/02 19:37:54</td>   <td>415491</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3bfdc050]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>20/04/02 19:37:55</td>   <td>416613</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3bfdc050]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>20/04/02 19:38:24</td>   <td>445219</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA163_Check_restore_previous_domain_option_with_gestures()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3bfdc050]">SRA163_Check_restore_previous_domain_option_with_gestures</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>20/04/02 19:39:22</td>   <td>502792</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3bfdc050]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>20/04/02 19:39:23</td>   <td>503974</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3bfdc050]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>20/04/02 19:40:07</td>   <td>548297</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA164_Check_keep_new_domain_option_with_gestures()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3bfdc050]">SRA164_Check_keep_new_domain_option_with_gestures</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>20/04/02 19:40:45</td>   <td>586286</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3bfdc050]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>20/04/02 19:40:46</td>   <td>587252</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3bfdc050]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>20/04/02 19:41:16</td>   <td>617658</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA173_Verify_the_Play_button_become_disable_when_the_confirm_message_displayed()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3bfdc050]">SRA173_Verify_the_Play_button_become_disable_when_the_confirm_message_displayed</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>20/04/02 19:42:35</td>   <td>696733</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3bfdc050]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>20/04/02 19:42:36</td>   <td>697645</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3bfdc050]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>20/04/02 19:43:06</td>   <td>726859</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA230_Verify_that_text_area_is_cleared_when_choosing_new_domain_while_template_is_opened()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3bfdc050]">SRA230_Verify_that_text_area_is_cleared_when_choosing_new_domain_while_template_is_opened</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>20/04/02 19:44:58</td>   <td>839702</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3bfdc050]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>20/04/02 19:45:00</td>   <td>840872</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3bfdc050]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>20/04/02 19:45:44</td>   <td>885308</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA239_Verify_that_saving_new_template_and_opening_will_not_change_the_language()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3bfdc050]">SRA239_Verify_that_saving_new_template_and_opening_will_not_change_the_language</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>20/04/02 19:47:01</td>   <td>961953</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3bfdc050]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>20/04/02 19:47:02</td>   <td>962803</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3bfdc050]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>20/04/02 19:47:36</td>   <td>996887</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA240_Verify_that_clip_doesnt_pause_after_clicking_between_the_download_button_and_wav_bar()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3bfdc050]">SRA240_Verify_that_clip_doesnt_pause_after_clicking_between_the_download_button_and_wav_bar</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>20/04/02 19:48:27</td>   <td>1048423</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3bfdc050]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>20/04/02 19:48:28</td>   <td>1049204</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3bfdc050]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>20/04/02 19:53:30</td>   <td>1351727</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA187_Say_as_Verify_that_Pronunciation_symbols_doesnt_appear_when_adding_text_and_symbols()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3bfdc050]">SRA187_Say_as_Verify_that_Pronunciation_symbols_doesnt_appear_when_adding_text_and_symbols</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>20/04/02 19:56:30</td>   <td>1531077</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3bfdc050]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>20/04/02 19:56:31</td>   <td>1532264</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3bfdc050]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>20/04/02 20:01:23</td>   <td>1823776</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA117_Add_tags_to_copy_paste_text()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3bfdc050]">SRA117_Add_tags_to_copy_paste_text</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>20/04/02 20:03:15</td>   <td>1936173</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3bfdc050]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>20/04/02 20:03:17</td>   <td>1938078</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.CloseBrowser()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3bfdc050]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
</table>
