<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite (10)</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:33:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.CloseBrowser()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:10:58</td>   <td>-1322240</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.Initialize(boolean)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;Initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:18:10</td>   <td>-890727</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA115_Check_changing_voices_does_not_resetting_text_box()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA115_Check_changing_voices_does_not_resetting_text_box</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:17:33</td>   <td>-927908</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA117_Add_tags_to_copy_paste_text()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA117_Add_tags_to_copy_paste_text</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:17:42</td>   <td>-918704</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA117_Add_tags_to_copy_paste_text()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA117_Add_tags_to_copy_paste_text</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:20:28</td>   <td>-752469</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA124_Verify_the_user_can_save_multiple_lines_in_the_text_box()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA124_Verify_the_user_can_save_multiple_lines_in_the_text_box</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:18:26</td>   <td>-874870</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA129_Check_the_Gesture_dropdown()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA129_Check_the_Gesture_dropdown</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:32:23</td>   <td>-37673</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA130_Check_the_Mood_dropdown()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA130_Check_the_Mood_dropdown</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:25:47</td>   <td>-433370</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA133_Check_playing_a_sentence_that_contains_gesture_and_marked_with_mood()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA133_Check_playing_a_sentence_that_contains_gesture_and_marked_with_mood</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:18:40</td>   <td>-860710</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA137_Verify_adding_International_Phonetic_Alphabet_with_Pronunciaton_symbols_to_the_text()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA137_Verify_adding_International_Phonetic_Alphabet_with_Pronunciaton_symbols_to_the_text</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:18:50</td>   <td>-850544</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA139_Verify_User_can_replace_few_words_with_IPA_phrase()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA139_Verify_User_can_replace_few_words_with_IPA_phrase</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:18:55</td>   <td>-845835</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA140_Verify_Message_appear_when_try_to_add_IPA_when_no_text_was_selected()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA140_Verify_Message_appear_when_try_to_add_IPA_when_no_text_was_selected</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:19:01</td>   <td>-839589</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA141_Verify_user_can_modify_the_exist_IPA_and_Pronunciation_symbols()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA141_Verify_user_can_modify_the_exist_IPA_and_Pronunciation_symbols</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:19:09</td>   <td>-831354</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA142_Verify_User_can_replace_a_phrase_with_one_IPA_word()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA142_Verify_User_can_replace_a_phrase_with_one_IPA_word</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:21:17</td>   <td>-704045</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA159_Check_the_download_button_for_the_synthesized_text()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA159_Check_the_download_button_for_the_synthesized_text</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:21:32</td>   <td>-688652</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA160_Try_text_with_non_regular_quotes_double_quotes()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA160_Try_text_with_non_regular_quotes_double_quotes</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:21:44</td>   <td>-676584</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA162_Mouse_click_on_text_editor_after_rendering()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA162_Mouse_click_on_text_editor_after_rendering</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:14:04</td>   <td>-1136302</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA163_Check_restore_previous_domain_option_with_gestures()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA163_Check_restore_previous_domain_option_with_gestures</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:14:26</td>   <td>-1115049</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA164_Check_keep_new_domain_option_with_gestures()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA164_Check_keep_new_domain_option_with_gestures</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:12:43</td>   <td>-1217798</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA165_Check_restore_previous_domain_option_with_moods()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA165_Check_restore_previous_domain_option_with_moods</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:13:03</td>   <td>-1197602</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA165_Check_restore_previous_domain_option_with_moods()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA165_Check_restore_previous_domain_option_with_moods</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:13:23</td>   <td>-1178009</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA165_Check_restore_previous_domain_option_with_moods()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA165_Check_restore_previous_domain_option_with_moods</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:13:39</td>   <td>-1162026</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA166_Check_keep_new_domain_option_with_moods()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA166_Check_keep_new_domain_option_with_moods</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:22:35</td>   <td>-626002</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA168_Template_Verify_user_can_clear_the_text_editor()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA168_Template_Verify_user_can_clear_the_text_editor</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:22:50</td>   <td>-610489</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA168_Template_Verify_user_can_clear_the_text_editor()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA168_Template_Verify_user_can_clear_the_text_editor</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:23:04</td>   <td>-596208</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA168_Template_Verify_user_can_clear_the_text_editor()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA168_Template_Verify_user_can_clear_the_text_editor</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:21:55</td>   <td>-665296</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA168_text_Verify_user_can_clear_the_text_editor()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA168_text_Verify_user_can_clear_the_text_editor</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:23:47</td>   <td>-553216</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA169_FIRST_WORD_Verify_user_can_edit_and_change_any_IPA_value_in_the_Say_as_Popup()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA169_FIRST_WORD_Verify_user_can_edit_and_change_any_IPA_value_in_the_Say_as_Popup</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:23:29</td>   <td>-571720</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA169_LAST_WORD_Verify_user_can_edit_and_change_any_IPA_value_in_the_Say_as_Popup()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA169_LAST_WORD_Verify_user_can_edit_and_change_any_IPA_value_in_the_Say_as_Popup</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:23:37</td>   <td>-563798</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA169_MIDDLE_WORD_Verify_user_can_edit_and_change_any_IPA_value_in_the_Say_as_Popup()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA169_MIDDLE_WORD_Verify_user_can_edit_and_change_any_IPA_value_in_the_Say_as_Popup</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:24:05</td>   <td>-535893</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA172_Template_Verify_that_text_shift_when_change_voices_for_Hebrew_and_English()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA172_Template_Verify_that_text_shift_when_change_voices_for_Hebrew_and_English</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:24:00</td>   <td>-540527</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA172_Text_Verify_that_text_shift_when_change_voices_for_Hebrew_and_English()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA172_Text_Verify_that_text_shift_when_change_voices_for_Hebrew_and_English</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:14:45</td>   <td>-1095200</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA173_Verify_the_Play_button_become_disable_when_the_confirm_message_displayed()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA173_Verify_the_Play_button_become_disable_when_the_confirm_message_displayed</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:23:22</td>   <td>-579102</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA174_Verify_that_the_Say_as_popup_doesn_t_open_if_no_text_was_highlighted()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA174_Verify_that_the_Say_as_popup_doesn_t_open_if_no_text_was_highlighted</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:16:45</td>   <td>-975315</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA187_Say_as_Verify_that_Pronunciation_symbols_doesnt_appear_when_adding_text_and_symbols()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA187_Say_as_Verify_that_Pronunciation_symbols_doesnt_appear_when_adding_text_and_symbols</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:17:02</td>   <td>-959083</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA187_Say_as_Verify_that_Pronunciation_symbols_doesnt_appear_when_adding_text_and_symbols()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA187_Say_as_Verify_that_Pronunciation_symbols_doesnt_appear_when_adding_text_and_symbols</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:17:16</td>   <td>-944442</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA187_Say_as_Verify_that_Pronunciation_symbols_doesnt_appear_when_adding_text_and_symbols()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA187_Say_as_Verify_that_Pronunciation_symbols_doesnt_appear_when_adding_text_and_symbols</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:25:35</td>   <td>-445400</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA188_Verify_that_bars_doesnt_change_first_when_applying_say_as_then_change_bars_for_first_word_part1_change_bar()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA188_Verify_that_bars_doesnt_change_first_when_applying_say_as_then_change_bars_for_first_word_part1_change_bar</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:25:28</td>   <td>-453134</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA188_Verify_that_bars_doesnt_change_first_when_applying_say_as_then_change_bars_for_first_word_part2_emphasis()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA188_Verify_that_bars_doesnt_change_first_when_applying_say_as_then_change_bars_for_first_word_part2_emphasis</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:25:23</td>   <td>-458061</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA188_Verify_that_bars_doesnt_change_first_when_applying_say_as_then_change_bars_for_first_word_part3_SayAs()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA188_Verify_that_bars_doesnt_change_first_when_applying_say_as_then_change_bars_for_first_word_part3_SayAs</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:11:56</td>   <td>-1265147</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA192_Say_as_Verify_that_no_empty_field_appear_for_words_with_IPA_input_and_bars_values()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA192_Say_as_Verify_that_no_empty_field_appear_for_words_with_IPA_input_and_bars_values</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:12:21</td>   <td>-1239185</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA193_Say_as_Verify_that_popup_opens_for_IPA_input_in_the_saved_files_629()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA193_Say_as_Verify_that_popup_opens_for_IPA_input_in_the_saved_files_629</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:26:13</td>   <td>-407159</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA194_Verify_that_user_Can_erase_or_make_changes_for_the_first_word_in_each_row()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA194_Verify_that_user_Can_erase_or_make_changes_for_the_first_word_in_each_row</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:26:56</td>   <td>-365110</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA206_Check_that_the_mood_label_displayed_as_Tone_Mood()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA206_Check_that_the_mood_label_displayed_as_Tone_Mood</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:18</td>   <td>-342642</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA207_Verify_that_resetting_the_volume_bar_values_works_successfully()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA207_Verify_that_resetting_the_volume_bar_values_works_successfully</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:09</td>   <td>-351440</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA208_Verify_that_resetting_the_speed_bar_values_works_successfully()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA208_Verify_that_resetting_the_speed_bar_values_works_successfully</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:02</td>   <td>-358337</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA209_Verify_that_resetting_the_pitch_bar_values_works_successfully()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA209_Verify_that_resetting_the_pitch_bar_values_works_successfully</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:25</td>   <td>-335389</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA210_Verify_that_Say_As_feature_can_be_removed_successfully()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA210_Verify_that_Say_As_feature_can_be_removed_successfully</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:31</td>   <td>-329781</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA211_Verify_that_emphasize_can_be_removed_successfully()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA211_Verify_that_emphasize_can_be_removed_successfully</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:32:31</td>   <td>-29664</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA212_Verify_that_mood_can_be_removed_successfully()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA212_Verify_that_mood_can_be_removed_successfully</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:34</td>   <td>-326229</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA213_Verify_that_user_cant_play_the_instructions_text_before_clicking_Clear_Text()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA213_Verify_that_user_cant_play_the_instructions_text_before_clicking_Clear_Text</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:44</td>   <td>-316386</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA214_Verify_that_alphabet_entry_in_say_as_set_according_to_the_suitable_language()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA214_Verify_that_alphabet_entry_in_say_as_set_according_to_the_suitable_language</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:48</td>   <td>-312522</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA215_Verify_that_alphabet_entry_in_say_as_supports_Nikud()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA215_Verify_that_alphabet_entry_in_say_as_supports_Nikud</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:32:40</td>   <td>-20156</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA216_Verify_that_gestures_are_inserted_in_the_correct_order_according_to_language()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA216_Verify_that_gestures_are_inserted_in_the_correct_order_according_to_language</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:52</td>   <td>-308728</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA221_Verify_that_the_remove_red_icon_is_not_displayed_after_unemphasizing_text()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA221_Verify_that_the_remove_red_icon_is_not_displayed_after_unemphasizing_text</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:55</td>   <td>-305321</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA222_Verify_that_user_can_apply_mood_to_already_mooded_text()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA222_Verify_that_user_can_apply_mood_to_already_mooded_text</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:28:08</td>   <td>-292953</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA224_Verify_that_user_can_reopen_say_as_popup_after_applying_say_as_to_multiple_lines()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA224_Verify_that_user_can_reopen_say_as_popup_after_applying_say_as_to_multiple_lines</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:28:12</td>   <td>-288751</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA228_Verify_that_mood_isnt_changed_after_opening_template_and_selecting_voice()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA228_Verify_that_mood_isnt_changed_after_opening_template_and_selecting_voice</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:28:37</td>   <td>-263479</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA228_Verify_that_mood_isnt_changed_after_opening_template_and_selecting_voice()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA228_Verify_that_mood_isnt_changed_after_opening_template_and_selecting_voice</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:29:35</td>   <td>-205169</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA228_Verify_that_mood_isnt_changed_after_opening_template_and_selecting_voice()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA228_Verify_that_mood_isnt_changed_after_opening_template_and_selecting_voice</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:30:10</td>   <td>-170984</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA229_Verify_that_IPA_Say_as_button_works_after_copying_template_with_editable_fields()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA229_Verify_that_IPA_Say_as_button_works_after_copying_template_with_editable_fields</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:15:30</td>   <td>-1051116</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA230_Verify_that_text_area_is_cleared_when_choosing_new_domain_while_template_is_opened()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA230_Verify_that_text_area_is_cleared_when_choosing_new_domain_while_template_is_opened</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:32:51</td>   <td>-9441</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA238_Verify_that_user_cant_apply_Say_as_to_gestures()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA238_Verify_that_user_cant_apply_Say_as_to_gestures</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:15:52</td>   <td>-1028332</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA239_Verify_that_saving_new_template_and_opening_will_not_change_the_language()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA239_Verify_that_saving_new_template_and_opening_will_not_change_the_language</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:16:07</td>   <td>-1014022</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA239_Verify_that_saving_new_template_and_opening_will_not_change_the_language()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA239_Verify_that_saving_new_template_and_opening_will_not_change_the_language</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:16:21</td>   <td>-999826</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA239_Verify_that_saving_new_template_and_opening_will_not_change_the_language()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA239_Verify_that_saving_new_template_and_opening_will_not_change_the_language</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:16:36</td>   <td>-984420</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA240_Verify_that_clip_doesnt_pause_after_clicking_between_the_download_button_and_wav_bar()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA240_Verify_that_clip_doesnt_pause_after_clicking_between_the_download_button_and_wav_bar</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:30:35</td>   <td>-145391</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA241_Check_that_choosing_gesture_without_clicking_on_the_text_area_doesnt_case_error_in_console()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA241_Check_that_choosing_gesture_without_clicking_on_the_text_area_doesnt_case_error_in_console</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:31:58</td>   <td>-62695</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA31_Check_the_Style_Gesture_and_Mood_can_be_changed_after_selecting_voice()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA31_Check_the_Style_Gesture_and_Mood_can_be_changed_after_selecting_voice</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:21:59</td>   <td>-661984</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA32_Check_the_Style_dropdown()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA32_Check_the_Style_dropdown</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:22:08</td>   <td>-653041</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA32_Check_the_Style_dropdown()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA32_Check_the_Style_dropdown</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:22:18</td>   <td>-642875</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA32_Check_the_Style_dropdown()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA32_Check_the_Style_dropdown</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:30:48</td>   <td>-132376</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA45_Verify_user_can_add_Gestures_to_the_text()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA45_Verify_user_can_add_Gestures_to_the_text</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:19:16</td>   <td>-824794</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA56_Check_the_remove_Mood_feature()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA56_Check_the_remove_Mood_feature</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:19:25</td>   <td>-815220</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA56_Check_the_remove_Mood_feature()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA56_Check_the_remove_Mood_feature</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:19:47</td>   <td>-793285</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA57_Verify_adding_Emphasis_to_the_text()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA57_Verify_adding_Emphasis_to_the_text</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:20:05</td>   <td>-776114</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA58_Check_the_remove_Emphasis_feature()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA58_Check_the_remove_Emphasis_feature</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:20:10</td>   <td>-771041</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA59_Verify_adding_International_Phonetic_Alphabet_to_the_text()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA59_Verify_adding_International_Phonetic_Alphabet_to_the_text</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:20:20</td>   <td>-760948</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA60_Verify_adding_Pronunciation_Symbol_to_the_text()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA60_Verify_adding_Pronunciation_Symbol_to_the_text</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:30:58</td>   <td>-122385</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA75_Verify_user_can_add_numbers_and_symbols()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA75_Verify_user_can_add_numbers_and_symbols</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:19:52</td>   <td>-788729</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA82_Check_the_wrong_popup_message_displays_when_user_click_the_play_message_without_selecting_a_voice()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA82_Check_the_wrong_popup_message_displays_when_user_click_the_play_message_without_selecting_a_voice</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:22:28</td>   <td>-632419</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA83_Check_the_wrong_popup_message_displays_when_the_user_click_the_play_message_without_selecting_Domain()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA83_Check_the_wrong_popup_message_displays_when_the_user_click_the_play_message_without_selecting_Domain</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:22:32</td>   <td>-629118</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA84_Check_the_wrong_popup_message_displays_when_the_user_click_the_play_without_inputting_text()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA84_Check_the_wrong_popup_message_displays_when_the_user_click_the_play_without_inputting_text</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:19:55</td>   <td>-785993</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA88_Check_the_limitation_of_the_text_box()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA88_Check_the_limitation_of_the_text_box</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:11:53</td>   <td>-1267751</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:12:18</td>   <td>-1242431</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:12:40</td>   <td>-1220663</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:13:00</td>   <td>-1200928</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:13:20</td>   <td>-1181036</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:13:36</td>   <td>-1164400</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:14:02</td>   <td>-1138853</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:14:21</td>   <td>-1119165</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:14:43</td>   <td>-1097726</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:15:25</td>   <td>-1055150</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:15:49</td>   <td>-1031207</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:16:04</td>   <td>-1016406</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:16:19</td>   <td>-1002122</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:16:34</td>   <td>-986641</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:16:43</td>   <td>-977881</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:16:59</td>   <td>-961372</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:17:14</td>   <td>-946862</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:17:30</td>   <td>-930375</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:17:40</td>   <td>-920942</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:18:07</td>   <td>-893788</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:18:23</td>   <td>-877723</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:18:37</td>   <td>-863262</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:18:47</td>   <td>-853353</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:18:52</td>   <td>-848499</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:18:58</td>   <td>-842358</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:19:06</td>   <td>-834227</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:19:13</td>   <td>-827485</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:19:22</td>   <td>-818263</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:19:45</td>   <td>-795542</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:19:50</td>   <td>-790954</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:19:52</td>   <td>-788316</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:20:02</td>   <td>-778626</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:20:07</td>   <td>-773730</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:20:16</td>   <td>-765062</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:20:25</td>   <td>-755167</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:21:14</td>   <td>-706306</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:21:30</td>   <td>-690960</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:21:42</td>   <td>-679083</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:21:53</td>   <td>-667897</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:21:56</td>   <td>-664755</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:22:05</td>   <td>-655392</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:22:15</td>   <td>-645159</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:22:26</td>   <td>-634902</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:22:29</td>   <td>-631890</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:22:32</td>   <td>-628574</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:22:48</td>   <td>-612976</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:23:02</td>   <td>-598461</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:23:19</td>   <td>-581545</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:23:26</td>   <td>-574176</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:23:34</td>   <td>-566513</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:23:45</td>   <td>-555885</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:23:56</td>   <td>-544821</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:24:02</td>   <td>-538517</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:25:19</td>   <td>-461910</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:25:25</td>   <td>-455489</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:25:33</td>   <td>-447735</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:25:45</td>   <td>-435958</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:26:11</td>   <td>-409565</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:26:52</td>   <td>-368204</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:26:58</td>   <td>-362918</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:06</td>   <td>-354153</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:14</td>   <td>-346861</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:23</td>   <td>-338024</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:28</td>   <td>-332398</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:32</td>   <td>-328973</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:41</td>   <td>-319571</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:45</td>   <td>-315349</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:49</td>   <td>-311390</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:53</td>   <td>-308039</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:28:05</td>   <td>-295236</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:28:09</td>   <td>-291499</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:28:35</td>   <td>-265779</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:29:33</td>   <td>-207937</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:30:07</td>   <td>-173589</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:30:33</td>   <td>-148108</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:30:46</td>   <td>-134675</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:30:55</td>   <td>-125180</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:31:55</td>   <td>-65315</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:32:19</td>   <td>-41342</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:32:28</td>   <td>-32326</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:32:38</td>   <td>-22473</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:32:48</td>   <td>-13109</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:12:18</td>   <td>-1242813</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:12:40</td>   <td>-1220941</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:12:59</td>   <td>-1201167</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:13:19</td>   <td>-1181240</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:13:36</td>   <td>-1164649</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:14:02</td>   <td>-1139091</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:14:21</td>   <td>-1119460</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:14:43</td>   <td>-1097983</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:15:25</td>   <td>-1055546</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:15:49</td>   <td>-1031480</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:16:04</td>   <td>-1016620</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:16:18</td>   <td>-1002336</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:16:33</td>   <td>-987524</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:16:43</td>   <td>-978110</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:16:59</td>   <td>-961579</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:17:14</td>   <td>-947074</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:17:30</td>   <td>-930933</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:17:39</td>   <td>-921161</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:18:07</td>   <td>-894053</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:18:23</td>   <td>-877780</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:18:37</td>   <td>-863513</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:18:47</td>   <td>-853622</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:18:52</td>   <td>-848760</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:18:58</td>   <td>-842591</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:19:06</td>   <td>-834523</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:19:13</td>   <td>-827798</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:19:22</td>   <td>-818464</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:19:45</td>   <td>-796020</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:19:49</td>   <td>-791794</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:19:52</td>   <td>-788548</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:20:02</td>   <td>-779126</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:20:06</td>   <td>-774183</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:20:15</td>   <td>-765558</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:20:25</td>   <td>-755677</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:21:14</td>   <td>-706773</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:21:29</td>   <td>-691198</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:21:42</td>   <td>-679130</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:21:53</td>   <td>-667944</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:21:56</td>   <td>-665011</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:22:05</td>   <td>-655838</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:22:15</td>   <td>-645605</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:22:25</td>   <td>-635657</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:22:29</td>   <td>-632135</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:22:32</td>   <td>-628828</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:22:47</td>   <td>-613406</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:23:02</td>   <td>-598938</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:23:19</td>   <td>-582014</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:23:26</td>   <td>-574631</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:23:34</td>   <td>-567053</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:23:44</td>   <td>-556443</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:23:55</td>   <td>-545366</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:24:02</td>   <td>-538979</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:25:18</td>   <td>-462368</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:25:25</td>   <td>-455954</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:25:32</td>   <td>-448207</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:25:44</td>   <td>-436573</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:26:11</td>   <td>-409839</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:26:52</td>   <td>-368713</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:26:57</td>   <td>-363424</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:06</td>   <td>-354642</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:13</td>   <td>-347380</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:22</td>   <td>-338546</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:28</td>   <td>-332888</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:31</td>   <td>-329228</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:41</td>   <td>-319640</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:45</td>   <td>-315624</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:49</td>   <td>-311695</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:52</td>   <td>-308300</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:28:05</td>   <td>-295701</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:28:09</td>   <td>-291790</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:28:34</td>   <td>-266276</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:29:32</td>   <td>-208393</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:30:07</td>   <td>-174088</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:30:32</td>   <td>-148641</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:30:45</td>   <td>-135168</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:30:55</td>   <td>-125232</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:31:55</td>   <td>-65365</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:32:19</td>   <td>-41836</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:32:28</td>   <td>-32385</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:32:38</td>   <td>-22982</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:32:47</td>   <td>-13575</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:33:00</td>   <td>-487</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
</table>
