<h2>Methods that were not run</h2><table>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA183_Pressing_clear_button_after_applying_say_as_shouldn_t_removethe_word_from_text_editor_bug_914</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA85_Check_the_reaction_of_the_app_when_the_user_inputs_NOT_English_words</td></tr>
<tr><td>smi.rendering.test.renderingtest.TextEditorTests.SRA231_Verify_that_language_dropdown_isnt_changed_after_opening_template</td></tr>
</table>