<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite (10)</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:10:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.Initialize(boolean)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;Initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:11:53</td>   <td>54489</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:11:56</td>   <td>57093</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA192_Say_as_Verify_that_no_empty_field_appear_for_words_with_IPA_input_and_bars_values()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA192_Say_as_Verify_that_no_empty_field_appear_for_words_with_IPA_input_and_bars_values</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:12:18</td>   <td>79427</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:12:18</td>   <td>79809</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:12:21</td>   <td>83055</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA193_Say_as_Verify_that_popup_opens_for_IPA_input_in_the_saved_files_629()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA193_Say_as_Verify_that_popup_opens_for_IPA_input_in_the_saved_files_629</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:12:40</td>   <td>101299</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:12:40</td>   <td>101577</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:12:43</td>   <td>104442</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA165_Check_restore_previous_domain_option_with_moods()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA165_Check_restore_previous_domain_option_with_moods</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:12:59</td>   <td>121073</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:13:00</td>   <td>121312</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:13:03</td>   <td>124638</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA165_Check_restore_previous_domain_option_with_moods()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA165_Check_restore_previous_domain_option_with_moods</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:13:19</td>   <td>141000</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:13:20</td>   <td>141204</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:13:23</td>   <td>144231</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA165_Check_restore_previous_domain_option_with_moods()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA165_Check_restore_previous_domain_option_with_moods</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:13:36</td>   <td>157591</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:13:36</td>   <td>157840</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:13:39</td>   <td>160214</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA166_Check_keep_new_domain_option_with_moods()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA166_Check_keep_new_domain_option_with_moods</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:14:02</td>   <td>183149</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:14:02</td>   <td>183387</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:14:04</td>   <td>185938</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA163_Check_restore_previous_domain_option_with_gestures()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA163_Check_restore_previous_domain_option_with_gestures</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:14:21</td>   <td>202780</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:14:21</td>   <td>203075</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:14:26</td>   <td>207191</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA164_Check_keep_new_domain_option_with_gestures()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA164_Check_keep_new_domain_option_with_gestures</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:14:43</td>   <td>224257</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:14:43</td>   <td>224514</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:14:45</td>   <td>227040</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA173_Verify_the_Play_button_become_disable_when_the_confirm_message_displayed()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA173_Verify_the_Play_button_become_disable_when_the_confirm_message_displayed</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:15:25</td>   <td>266694</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:15:25</td>   <td>267090</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:15:30</td>   <td>271124</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA230_Verify_that_text_area_is_cleared_when_choosing_new_domain_while_template_is_opened()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA230_Verify_that_text_area_is_cleared_when_choosing_new_domain_while_template_is_opened</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:15:49</td>   <td>290760</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:15:49</td>   <td>291033</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:15:52</td>   <td>293908</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA239_Verify_that_saving_new_template_and_opening_will_not_change_the_language()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA239_Verify_that_saving_new_template_and_opening_will_not_change_the_language</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:16:04</td>   <td>305620</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:16:04</td>   <td>305834</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:16:07</td>   <td>308218</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA239_Verify_that_saving_new_template_and_opening_will_not_change_the_language()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA239_Verify_that_saving_new_template_and_opening_will_not_change_the_language</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:16:18</td>   <td>319904</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:16:19</td>   <td>320118</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:16:21</td>   <td>322414</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA239_Verify_that_saving_new_template_and_opening_will_not_change_the_language()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA239_Verify_that_saving_new_template_and_opening_will_not_change_the_language</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:16:33</td>   <td>334716</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:16:34</td>   <td>335599</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:16:36</td>   <td>337820</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA240_Verify_that_clip_doesnt_pause_after_clicking_between_the_download_button_and_wav_bar()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA240_Verify_that_clip_doesnt_pause_after_clicking_between_the_download_button_and_wav_bar</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:16:43</td>   <td>344130</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:16:43</td>   <td>344359</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:16:45</td>   <td>346925</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA187_Say_as_Verify_that_Pronunciation_symbols_doesnt_appear_when_adding_text_and_symbols()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA187_Say_as_Verify_that_Pronunciation_symbols_doesnt_appear_when_adding_text_and_symbols</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:16:59</td>   <td>360661</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:16:59</td>   <td>360868</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:17:02</td>   <td>363157</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA187_Say_as_Verify_that_Pronunciation_symbols_doesnt_appear_when_adding_text_and_symbols()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA187_Say_as_Verify_that_Pronunciation_symbols_doesnt_appear_when_adding_text_and_symbols</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:17:14</td>   <td>375166</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:17:14</td>   <td>375378</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:17:16</td>   <td>377798</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA187_Say_as_Verify_that_Pronunciation_symbols_doesnt_appear_when_adding_text_and_symbols()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA187_Say_as_Verify_that_Pronunciation_symbols_doesnt_appear_when_adding_text_and_symbols</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:17:30</td>   <td>391307</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:17:30</td>   <td>391865</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:17:33</td>   <td>394332</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA117_Add_tags_to_copy_paste_text()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA117_Add_tags_to_copy_paste_text</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:17:39</td>   <td>401079</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:17:40</td>   <td>401298</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:17:42</td>   <td>403536</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA117_Add_tags_to_copy_paste_text()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA117_Add_tags_to_copy_paste_text</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:18:07</td>   <td>428187</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:18:07</td>   <td>428452</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:18:10</td>   <td>431513</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA115_Check_changing_voices_does_not_resetting_text_box()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA115_Check_changing_voices_does_not_resetting_text_box</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:18:23</td>   <td>444460</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:18:23</td>   <td>444517</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:18:26</td>   <td>447370</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA129_Check_the_Gesture_dropdown()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA129_Check_the_Gesture_dropdown</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:18:37</td>   <td>458727</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:18:37</td>   <td>458978</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:18:40</td>   <td>461530</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA137_Verify_adding_International_Phonetic_Alphabet_with_Pronunciaton_symbols_to_the_text()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA137_Verify_adding_International_Phonetic_Alphabet_with_Pronunciaton_symbols_to_the_text</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:18:47</td>   <td>468618</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:18:47</td>   <td>468887</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:18:50</td>   <td>471696</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA139_Verify_User_can_replace_few_words_with_IPA_phrase()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA139_Verify_User_can_replace_few_words_with_IPA_phrase</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:18:52</td>   <td>473480</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:18:52</td>   <td>473741</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:18:55</td>   <td>476405</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA140_Verify_Message_appear_when_try_to_add_IPA_when_no_text_was_selected()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA140_Verify_Message_appear_when_try_to_add_IPA_when_no_text_was_selected</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:18:58</td>   <td>479649</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:18:58</td>   <td>479882</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:19:01</td>   <td>482651</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA141_Verify_user_can_modify_the_exist_IPA_and_Pronunciation_symbols()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA141_Verify_user_can_modify_the_exist_IPA_and_Pronunciation_symbols</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:19:06</td>   <td>487717</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:19:06</td>   <td>488013</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:19:09</td>   <td>490886</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA142_Verify_User_can_replace_a_phrase_with_one_IPA_word()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA142_Verify_User_can_replace_a_phrase_with_one_IPA_word</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:19:13</td>   <td>494442</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:19:13</td>   <td>494755</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:19:16</td>   <td>497446</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA56_Check_the_remove_Mood_feature()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA56_Check_the_remove_Mood_feature</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:19:22</td>   <td>503776</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:19:22</td>   <td>503977</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:19:25</td>   <td>507020</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA56_Check_the_remove_Mood_feature()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA56_Check_the_remove_Mood_feature</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:19:45</td>   <td>526220</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:19:45</td>   <td>526698</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:19:47</td>   <td>528955</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA57_Verify_adding_Emphasis_to_the_text()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA57_Verify_adding_Emphasis_to_the_text</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:19:49</td>   <td>530446</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:19:50</td>   <td>531286</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:19:52</td>   <td>533511</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA82_Check_the_wrong_popup_message_displays_when_user_click_the_play_message_without_selecting_a_voice()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA82_Check_the_wrong_popup_message_displays_when_user_click_the_play_message_without_selecting_a_voice</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:19:52</td>   <td>533692</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:19:52</td>   <td>533924</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:19:55</td>   <td>536247</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA88_Check_the_limitation_of_the_text_box()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA88_Check_the_limitation_of_the_text_box</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:20:02</td>   <td>543114</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:20:02</td>   <td>543614</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:20:05</td>   <td>546126</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA58_Check_the_remove_Emphasis_feature()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA58_Check_the_remove_Emphasis_feature</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:20:06</td>   <td>548057</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:20:07</td>   <td>548510</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:20:10</td>   <td>551199</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA59_Verify_adding_International_Phonetic_Alphabet_to_the_text()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA59_Verify_adding_International_Phonetic_Alphabet_to_the_text</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:20:15</td>   <td>556682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:20:16</td>   <td>557178</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:20:20</td>   <td>561292</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA60_Verify_adding_Pronunciation_Symbol_to_the_text()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA60_Verify_adding_Pronunciation_Symbol_to_the_text</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:20:25</td>   <td>566563</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:20:25</td>   <td>567073</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:20:28</td>   <td>569771</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA124_Verify_the_user_can_save_multiple_lines_in_the_text_box()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA124_Verify_the_user_can_save_multiple_lines_in_the_text_box</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:21:14</td>   <td>615467</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:21:14</td>   <td>615934</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:21:17</td>   <td>618195</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA159_Check_the_download_button_for_the_synthesized_text()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA159_Check_the_download_button_for_the_synthesized_text</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:21:29</td>   <td>631042</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:21:30</td>   <td>631280</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:21:32</td>   <td>633588</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA160_Try_text_with_non_regular_quotes_double_quotes()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA160_Try_text_with_non_regular_quotes_double_quotes</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:21:42</td>   <td>643110</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:21:42</td>   <td>643157</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:21:44</td>   <td>645656</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA162_Mouse_click_on_text_editor_after_rendering()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA162_Mouse_click_on_text_editor_after_rendering</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:21:53</td>   <td>654296</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:21:53</td>   <td>654343</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:21:55</td>   <td>656944</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA168_text_Verify_user_can_clear_the_text_editor()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA168_text_Verify_user_can_clear_the_text_editor</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:21:56</td>   <td>657229</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:21:56</td>   <td>657485</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:21:59</td>   <td>660256</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA32_Check_the_Style_dropdown()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA32_Check_the_Style_dropdown</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:22:05</td>   <td>666402</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:22:05</td>   <td>666848</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:22:08</td>   <td>669199</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA32_Check_the_Style_dropdown()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA32_Check_the_Style_dropdown</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:22:15</td>   <td>676635</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:22:15</td>   <td>677081</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:22:18</td>   <td>679365</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA32_Check_the_Style_dropdown()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA32_Check_the_Style_dropdown</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:22:25</td>   <td>686583</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:22:26</td>   <td>687338</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:22:28</td>   <td>689821</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA83_Check_the_wrong_popup_message_displays_when_the_user_click_the_play_message_without_selecting_Domain()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA83_Check_the_wrong_popup_message_displays_when_the_user_click_the_play_message_without_selecting_Domain</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:22:29</td>   <td>690105</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:22:29</td>   <td>690350</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:22:32</td>   <td>693122</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA84_Check_the_wrong_popup_message_displays_when_the_user_click_the_play_without_inputting_text()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA84_Check_the_wrong_popup_message_displays_when_the_user_click_the_play_without_inputting_text</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:22:32</td>   <td>693412</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:22:32</td>   <td>693666</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:22:35</td>   <td>696238</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA168_Template_Verify_user_can_clear_the_text_editor()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA168_Template_Verify_user_can_clear_the_text_editor</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:22:47</td>   <td>708834</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:22:48</td>   <td>709264</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:22:50</td>   <td>711751</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA168_Template_Verify_user_can_clear_the_text_editor()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA168_Template_Verify_user_can_clear_the_text_editor</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:23:02</td>   <td>723302</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:23:02</td>   <td>723779</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:23:04</td>   <td>726032</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA168_Template_Verify_user_can_clear_the_text_editor()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA168_Template_Verify_user_can_clear_the_text_editor</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:23:19</td>   <td>740226</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:23:19</td>   <td>740695</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:23:22</td>   <td>743138</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA174_Verify_that_the_Say_as_popup_doesn_t_open_if_no_text_was_highlighted()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA174_Verify_that_the_Say_as_popup_doesn_t_open_if_no_text_was_highlighted</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:23:26</td>   <td>747609</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:23:26</td>   <td>748064</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:23:29</td>   <td>750520</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA169_LAST_WORD_Verify_user_can_edit_and_change_any_IPA_value_in_the_Say_as_Popup()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA169_LAST_WORD_Verify_user_can_edit_and_change_any_IPA_value_in_the_Say_as_Popup</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:23:34</td>   <td>755187</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:23:34</td>   <td>755727</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:23:37</td>   <td>758442</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA169_MIDDLE_WORD_Verify_user_can_edit_and_change_any_IPA_value_in_the_Say_as_Popup()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA169_MIDDLE_WORD_Verify_user_can_edit_and_change_any_IPA_value_in_the_Say_as_Popup</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:23:44</td>   <td>765797</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:23:45</td>   <td>766355</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:23:47</td>   <td>769024</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA169_FIRST_WORD_Verify_user_can_edit_and_change_any_IPA_value_in_the_Say_as_Popup()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA169_FIRST_WORD_Verify_user_can_edit_and_change_any_IPA_value_in_the_Say_as_Popup</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:23:55</td>   <td>776874</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:23:56</td>   <td>777419</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:24:00</td>   <td>781713</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA172_Text_Verify_that_text_shift_when_change_voices_for_Hebrew_and_English()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA172_Text_Verify_that_text_shift_when_change_voices_for_Hebrew_and_English</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:24:02</td>   <td>783261</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:24:02</td>   <td>783723</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:24:05</td>   <td>786347</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA172_Template_Verify_that_text_shift_when_change_voices_for_Hebrew_and_English()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA172_Template_Verify_that_text_shift_when_change_voices_for_Hebrew_and_English</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:25:18</td>   <td>859872</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:25:19</td>   <td>860330</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:25:23</td>   <td>864179</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA188_Verify_that_bars_doesnt_change_first_when_applying_say_as_then_change_bars_for_first_word_part3_SayAs()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA188_Verify_that_bars_doesnt_change_first_when_applying_say_as_then_change_bars_for_first_word_part3_SayAs</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:25:25</td>   <td>866286</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:25:25</td>   <td>866751</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:25:28</td>   <td>869106</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA188_Verify_that_bars_doesnt_change_first_when_applying_say_as_then_change_bars_for_first_word_part2_emphasis()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA188_Verify_that_bars_doesnt_change_first_when_applying_say_as_then_change_bars_for_first_word_part2_emphasis</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:25:32</td>   <td>874033</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:25:33</td>   <td>874505</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:25:35</td>   <td>876840</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA188_Verify_that_bars_doesnt_change_first_when_applying_say_as_then_change_bars_for_first_word_part1_change_bar()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA188_Verify_that_bars_doesnt_change_first_when_applying_say_as_then_change_bars_for_first_word_part1_change_bar</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:25:44</td>   <td>885667</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:25:45</td>   <td>886282</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:25:47</td>   <td>888870</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA133_Check_playing_a_sentence_that_contains_gesture_and_marked_with_mood()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA133_Check_playing_a_sentence_that_contains_gesture_and_marked_with_mood</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:26:11</td>   <td>912401</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:26:11</td>   <td>912675</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:26:13</td>   <td>915081</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA194_Verify_that_user_Can_erase_or_make_changes_for_the_first_word_in_each_row()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA194_Verify_that_user_Can_erase_or_make_changes_for_the_first_word_in_each_row</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:26:52</td>   <td>953527</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:26:52</td>   <td>954036</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:26:56</td>   <td>957130</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA206_Check_that_the_mood_label_displayed_as_Tone_Mood()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA206_Check_that_the_mood_label_displayed_as_Tone_Mood</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:26:57</td>   <td>958816</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:26:58</td>   <td>959322</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:02</td>   <td>963903</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA209_Verify_that_resetting_the_pitch_bar_values_works_successfully()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA209_Verify_that_resetting_the_pitch_bar_values_works_successfully</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:06</td>   <td>967598</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:06</td>   <td>968087</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:09</td>   <td>970800</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA208_Verify_that_resetting_the_speed_bar_values_works_successfully()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA208_Verify_that_resetting_the_speed_bar_values_works_successfully</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:13</td>   <td>974860</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:14</td>   <td>975379</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:18</td>   <td>979598</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA207_Verify_that_resetting_the_volume_bar_values_works_successfully()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA207_Verify_that_resetting_the_volume_bar_values_works_successfully</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:22</td>   <td>983694</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:23</td>   <td>984216</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:25</td>   <td>986851</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA210_Verify_that_Say_As_feature_can_be_removed_successfully()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA210_Verify_that_Say_As_feature_can_be_removed_successfully</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:28</td>   <td>989352</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:28</td>   <td>989842</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:31</td>   <td>992459</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA211_Verify_that_emphasize_can_be_removed_successfully()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA211_Verify_that_emphasize_can_be_removed_successfully</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:31</td>   <td>993012</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:32</td>   <td>993267</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:34</td>   <td>996011</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA213_Verify_that_user_cant_play_the_instructions_text_before_clicking_Clear_Text()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA213_Verify_that_user_cant_play_the_instructions_text_before_clicking_Clear_Text</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:41</td>   <td>1002600</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:41</td>   <td>1002669</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:44</td>   <td>1005854</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA214_Verify_that_alphabet_entry_in_say_as_set_according_to_the_suitable_language()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA214_Verify_that_alphabet_entry_in_say_as_set_according_to_the_suitable_language</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:45</td>   <td>1006616</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:45</td>   <td>1006891</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:48</td>   <td>1009718</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA215_Verify_that_alphabet_entry_in_say_as_supports_Nikud()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA215_Verify_that_alphabet_entry_in_say_as_supports_Nikud</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:49</td>   <td>1010545</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:49</td>   <td>1010850</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:52</td>   <td>1013512</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA221_Verify_that_the_remove_red_icon_is_not_displayed_after_unemphasizing_text()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA221_Verify_that_the_remove_red_icon_is_not_displayed_after_unemphasizing_text</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:52</td>   <td>1013940</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:53</td>   <td>1014201</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:27:55</td>   <td>1016919</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA222_Verify_that_user_can_apply_mood_to_already_mooded_text()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA222_Verify_that_user_can_apply_mood_to_already_mooded_text</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:28:05</td>   <td>1026539</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:28:05</td>   <td>1027004</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:28:08</td>   <td>1029287</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA224_Verify_that_user_can_reopen_say_as_popup_after_applying_say_as_to_multiple_lines()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA224_Verify_that_user_can_reopen_say_as_popup_after_applying_say_as_to_multiple_lines</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:28:09</td>   <td>1030450</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:28:09</td>   <td>1030741</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:28:12</td>   <td>1033489</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA228_Verify_that_mood_isnt_changed_after_opening_template_and_selecting_voice()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA228_Verify_that_mood_isnt_changed_after_opening_template_and_selecting_voice</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:28:34</td>   <td>1055964</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:28:35</td>   <td>1056461</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:28:37</td>   <td>1058761</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA228_Verify_that_mood_isnt_changed_after_opening_template_and_selecting_voice()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA228_Verify_that_mood_isnt_changed_after_opening_template_and_selecting_voice</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:29:32</td>   <td>1113847</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:29:33</td>   <td>1114303</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:29:35</td>   <td>1117071</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA228_Verify_that_mood_isnt_changed_after_opening_template_and_selecting_voice()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA228_Verify_that_mood_isnt_changed_after_opening_template_and_selecting_voice</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:30:07</td>   <td>1148152</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:30:07</td>   <td>1148651</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:30:10</td>   <td>1151256</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA229_Verify_that_IPA_Say_as_button_works_after_copying_template_with_editable_fields()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA229_Verify_that_IPA_Say_as_button_works_after_copying_template_with_editable_fields</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:30:32</td>   <td>1173599</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:30:33</td>   <td>1174132</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:30:35</td>   <td>1176849</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA241_Check_that_choosing_gesture_without_clicking_on_the_text_area_doesnt_case_error_in_console()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA241_Check_that_choosing_gesture_without_clicking_on_the_text_area_doesnt_case_error_in_console</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:30:45</td>   <td>1187072</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:30:46</td>   <td>1187565</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:30:48</td>   <td>1189864</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA45_Verify_user_can_add_Gestures_to_the_text()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA45_Verify_user_can_add_Gestures_to_the_text</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:30:55</td>   <td>1197008</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:30:55</td>   <td>1197060</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:30:58</td>   <td>1199855</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA75_Verify_user_can_add_numbers_and_symbols()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA75_Verify_user_can_add_numbers_and_symbols</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:31:55</td>   <td>1256875</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:31:55</td>   <td>1256925</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:31:58</td>   <td>1259545</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA31_Check_the_Style_Gesture_and_Mood_can_be_changed_after_selecting_voice()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA31_Check_the_Style_Gesture_and_Mood_can_be_changed_after_selecting_voice</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:32:19</td>   <td>1280404</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:32:19</td>   <td>1280898</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:32:23</td>   <td>1284567</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA130_Check_the_Mood_dropdown()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA130_Check_the_Mood_dropdown</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:32:28</td>   <td>1289855</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:32:28</td>   <td>1289914</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:32:31</td>   <td>1292576</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA212_Verify_that_mood_can_be_removed_successfully()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA212_Verify_that_mood_can_be_removed_successfully</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:32:38</td>   <td>1299258</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:32:38</td>   <td>1299767</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:32:40</td>   <td>1302084</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA216_Verify_that_gestures_are_inserted_in_the_correct_order_according_to_language()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA216_Verify_that_gestures_are_inserted_in_the_correct_order_according_to_language</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:32:47</td>   <td>1308665</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:32:48</td>   <td>1309131</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TextEditorTests.beforeTest(java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:32:51</td>   <td>1312799</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TextEditorTests.SRA238_Verify_that_user_cant_apply_Say_as_to_gestures()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">SRA238_Verify_that_user_cant_apply_Say_as_to_gestures</td> 
  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:33:00</td>   <td>1321753</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/03/12 16:33:01</td>   <td>1322240</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TextEditorTests.CloseBrowser()[pri:0, instance:smi.rendering.test.renderingtest.TextEditorTests@3e9b1010]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
</table>
